{% extends 'frontend/home.html' %}

{% block content %}

<section class="container" id="payment">
  <div class="row">
    <div class="col-md-9">
      <h2 style="text-align: center;">Payment</h2>
        <form class="form-horizontal">
          <!-- Pop up -->
          <div class="form-group">
            <label for="" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="" value="" placeholder="To:">
              <!-- <p class="lead">You can send a trusted payment of up to 8 hours,or a direct Payment of amount</p> -->
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Send</label>
            <div class="col-sm-10">
              <label>
                <input type="checkbox"> Trusted
              </label>
              <br>
              <label>
                <input type="checkbox"> Direct
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Hours</label>
            <div class="col-sm-10">
              <input type="text" name="" value="">
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Testimonial</label>
            <div class="col-sm-10">
              <textarea name="name" rows="8" cols="80"></textarea>
            </div>
          </div>

          <!-- Send -->
          <div class="form-group">
            <label for="" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
              <input type="submit" name="" value="Send Acknowledgement">
            </div>
          </div>

        </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <h3>Transaction History</h3>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Overall Balance</td>
            <td>-3.00 hours</td>
          </tr>
          <tr>
            <td>Trusted Balance</td>
            <td>-3.00 hours</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>11/20/2016</td>
            <td>-6 hours</td>
            <td>Good Job painting</td>
            <td>
              <p class="profile-star-rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </p>
            </td>
          </tr>
          <tr>
            <td>11/11/2016</td>
            <td>+ 4 hours</td>
            <td></td>
            <td>
              <p class="profile-star-rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </p>
            </td>
          </tr>
          <tr>
            <td>11/9/2016</td>
            <td>+10 hours</td>
            <td></td>
            <td>
              <p class="profile-star-rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock content %}
