{% load staticfiles profile tag_utils i18n %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Product List | Villages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'new_template/res/css/style.css' %}" type="text/css" media="all" />
    <script src="{% static 'new_template/node_modules/jquery/dist/jquery.js' %}" type="text/javascript"></script>
    <!-- jQuery -->
    <script src="{% static 'new_template/node_modules/popper.js/dist/umd/popper.js' %}" type="text/javascript"></script>
    <!-- Popper -->
    <script src="{% static 'new_template/node_modules/bootstrap/dist/js/bootstrap.js' %}" type="text/javascript"></script>
    <!-- Bootstrap -->

    <!-- Custom jQuery -->
    <script src="{% static 'new_template/res/js/index.js' %}" type="text/javascript"></script>

    <script src="{% static 'assets/typeahead.js/typeahead.jquery.min.js' %}"></script>
    <script src="{% static 'assets/typeahead.js/bloodhound.min.js' %}"></script>
    <!---->
</head>

<body>

<!-- svg sprites -->
<svg style="width:0; height:0; position: absolute; top: -9999px;">
    <symbol id="balance" viewbox="0 0 21 18">
    </symbol>
</svg>
<!---->

<div class="app-wrapper">

    <header class="app-header">
        <nav class="navbar navbar-expand-lg">

            <a class="navbar-brand" href="{% url 'frontend:home' %}">
                <img class="d-none d-sm-block" src="{% static 'new_template/res/img/logo_full.png' %}" alt="villages.io">
                <img class="d-block d-sm-none" src="{% static 'new_template/res/img/logo.png' %}" alt="villages.io">
            </a>

            <div class="user-menu d-flex d-lg-none">
                <a class="user-link" href="#"><img src="{% static 'new_template/res/img/icons/bell.png' %}" alt="notifications"></a>
                <a class="user-link" href="#">
                    <div class="avatar-wrapper">
                        <img src="{% profile_image_url request.profile '400x400' %}" alt="avatar" width="43px" height="44px"
                             class="rounded-circle">
                    </div>
                </a>
            </div>

            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#primary-navbar" aria-controls="primary-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="primary-navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'how_it_works' %}">How it works</a>
                            <a class="dropdown-item" href="{% url 'motivation' %}">Motivation</a>
                            <a class="dropdown-item" href="{% url 'privacy' %}">Privacy</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'contact_us' %}">Feedback</a>
                        </div>
                    </li>
                    {% if request %}
                        <li class="balance-item">
                            <img src="{% static 'new_template/res/img/icons/balance.png' %}" alt="balance">
                            <span id="account-balance">{{ request.profile.overall_balance }}</span>
                            <span id="account-currency">V.H.</span>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a id="add-posting" class="nav-link" href="#"><img src="{% static 'new_template/res/img/icons/plus.png' %}" alt="add" data-toggle="modal" data-target="#new-post-modal"></a>
                    </li>
                    <li class="nav-item">
                        <a id="blank-trust-id" class="nav-link" href="{% url 'blank_trust_user' %}"><img src="{% static 'new_template/res/img/icons/heart.png' %}" alt="favorites"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blank_payment_user' %}"><img src="{% static 'new_template/res/img/icons/wallet.png' %}" alt="wallet"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'undefined_contact' %}"><img src="{% static 'new_template/res/img/icons/mail.png' %}" alt="inbox"></a>
                    </li>
                </ul>
            </div>

            <div class="user-menu d-none d-lg-flex">
                <a class="user-link" href="#"><img src="{% static 'new_template/res/img/icons/bell.png' %}" alt="notifications"></a>
                <a class="user-link" href="#">
                    <div class="avatar-wrapper">
                        <img src="{% profile_image_url request.profile '400x400' %}" alt="avatar" width=43px height=44px
                             class="rounded-circle">
                    </div>
                </a>
            </div>
        </nav>
        {% include 'messages.html' %}
    </header>
    <!-- .app-header -->

    <div class="app-view">

        <aside class="app-sidebar">

            <div class="cat-menu">
                <a class="cat-item active" href="#">
                    <div class="cat-item-icon">
                        <img src="{% static 'new_template/res/img/icons/all_categories.png' %}" alt="All Categories">
                    </div>
                    <span class="cat-item-name">All Categories</span>
                </a>
                <a class="cat-item" href="#">
                    <div class="cat-item-icon">
                        <img class="cat-item-icon" src="{% static 'new_template/res/img/icons/services.png' %}" alt="Services">
                    </div>
                    <span class="cat-item-name">Services</span>
                </a>
                <a class="cat-item" href="#">
                    <div class="cat-item-icon">
                        <img class="cat-item-icon" src="{% static 'new_template/res/img/icons/products.png' %}" alt="Products">
                    </div>
                    <span class="cat-item-name">Products</span>
                </a>
                <a class="cat-item" href="#">
                    <div class="cat-item-icon">
                        <img class="cat-item-icon" src="{% static 'new_template/res/img/icons/products.png' %}" alt="Housing">
                    </div>
                    <span class="cat-item-name">Housing</span>
                </a>
            </div>

        </aside>
        <!-- .app-sidebar -->

        <main class="app-main">

            <div class="    trust-content">

                <div class="row">
                    <div class="col-12 col-xxl-8">

                        <h2>Edit Profile</h2>
                        <p>Your profile tells other community members about
                            you, and lets them find you based on your interests and skills.
                            Please mention anything that you wish to offer or bring to the
                            community generally, so others will find you when they search
                            for those things.</p>

                        <span>
                            <a href="{% url 'my_profile' %}" class="btn btn-info">
                                {% trans 'View my profile' %}
                            </a>
                            <a class="btn btn-warning" href="{% url 'add_profile_tag' %}">Edit tags</a>
                        </span>

                        <div class="trust-data">
                            <form id="trust-form" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="receiver-box" id="div-recipient-name">
                                    <h4 class="mt-1">Name</h4>
                                    {{ form.name }}
                                    <h4></h4>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <h4>Photo</h4>
                                    <div class="">
                                        {{ form.photo }}
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <h4>Job</h4>
                                    {{ form.job }}
                                </div>

                                <div class="col-12 col-sm-6">
                                    <label for="description">Description</label>
                                    {{ form.description }}
                                </div>

                                <div class="row" style="max-width: 600px;">
                                    <div class="col-6">
                                        <input class="btn btn-std btn-cancel" type="button" value="Cancel">
                                    </div>
                                    <div class="col-6">
                                        <input class="btn btn-std" id="save-trust" type="submit" value="Save Profile">
                                    </div>
                                </div>
                                {{ form.data_profile }}
                            </form>
                        </div>

                    </div>

                </div>

            </div>

        </main>
        <!-- .app-main -->

    </div>

</div>
<script>
    debugger;
    var input_choose_file = $("#id_photo");
    input_choose_file.css({height: "3em"});
</script>
</body>

</html>