{% extends "base.html" %}
{% load static tag_utils %}

{% block title %}{{ profile }}{% endblock %}

{% block nav_info_class %}selected{% endblock %}

{% block content %}
    {% load profile relate humanize feed%}
    {% load static %}
    {% load i18n %}

    <style>
        .image {
            width: 60px;
            height: 60px;
            float: left;
            border: 1px hidden #999;
        }
        .thumbnail{
            width : 300px;
            height: 250px;
            overflow: auto;
        }

        .thumbnail .listing {
            width: 100%;
            height: 150px;
            display: block;
        }
    </style>
    <div class="col-sm-12">
        <div class="container-fluid" id="profile-container-fluid">
            <div class="jumbotron" id="profile-jumbotron">
                <h2>{{ profile.name }}</h2>
            </div>
        </div>

        <section class="container-fluid" id="profile-info">
            <div class="row">
                <div class="col-md-8">
                    <div class="inside-profile-info">
                        <p>Profile description:</p>
                        <p>{{ profile.description }}</p>
                    </div>
                    <hr>
                </div>

                <div class="col-md-4" style="text-align: center; padding-left: 100px">
                    <img src="{% profile_image_url profile '150x150' %}" alt="" height=88px width=88px class="img-circle">
                    <p class="profile-star-rating">
                    {% if referral_count %}
                        <th>{% trans 'Trusted referrals: ' %}</th>
                        <td>{{ referral_count }} people</td>
                    {% endif %}
                    </p>
                    <div class="" ><p><i class="fa fa-balance-scale" aria-hidden="true"></i>
                        {% blocktrans count hours=profile.overall_balance %} - {{ hours }} hour
                        {% plural %} {{ hours }} hours</p>{% endblocktrans %}

                        <p><i class="fa fa-pencil" aria-hidden="true"></i> Job: {% if profile.job %}{{ profile.job }} {% else %} -- {% endif %}</p>
{#                        <p><i class="fa fa-heart" aria-hidden="true"></i> Total hours trust: {{ profile.endorsement_sum }}</p>#}
                        <p data-toggle="tooltip" title="{{ profile.location.full_name }}"><i class="fa fa-home" aria-hidden="true" data-toggle="tooltip" title="{{ profile.location.full_name }}"></i> {{ profile.location.full_name|truncatechars:50 }}</p>
                        <p><i class="fa fa-calendar" aria-hidden="true"></i> {{ profile.user.date_joined|naturalday }}</p>
                    </div>
                    <div class="btn-group btn-group-md btn-top-adjust" role="group" aria-label="...">
                        <button id="" type="button" class="btn btn-default btn-danger trust-modal" title="Trust this person" data-profile-username="{{ profile.username }}">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-success payment-modal" title="Check your payments" data-profile-username="{{ profile.username }}">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-primary contact-modal"
                                title="Contact the owner" data-profile-username="{{ profile.username }}">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-fluid" id="profile-listing-info">
            <div class="row">
                <div class="col-md-9">
                    {% if listings %}
                        <h3>Open listings</h3>
                        <bold><hr></bold>
                        <!-- Construct in the for loop -->
                        {% for each in listings %}
                            <div id="div_listing_{{ each.user.profile.username }}" class="container-fluid col-sm-4">
                                <div class="thumbnail">
                                    <img class="listing listing-modal" src="{% product_image_url each '280x280' %}"
                                         data-listing-id="{{ each.id }}"
                                         data-listing-title="{{ each.title|slice:":80" }}" alt="...">
                                    <p class="thumbnail-info">{{ each.title }}</p>
                                    <p class="thumbnail-tag" style="left: 70px;">{{ each.listing_type }} | {{ each.price }} VH</p>
                                    <div class="caption" style="height: 115px;">
                                        <a href="{{ each.user.profile.get_absolute_url }}" style="float: left;">
                                            <img id="profile-listing-img" src="{% profile_image_url each.user.profile '60x60' %}" data-toggle="tooltip" title="{{ each.user.profile.name }}"
                                                 style="margin-right: 10px;" class="img-circle inline"/>
                                        </a>

                                        {% for each_tag in each.tag.all %}
                                            <span class="label label-info">{{ each_tag.name }}</span>

                                        {% endfor %}
                                        <div class="col-sm-12" style="padding-left: 0; padding-top: 5px;">
                                            <div class="btn-group btn-group-md btn-top-adjust" role="group" aria-label="..." style="display: block;">
                                                <button id="" type="button" class="btn btn-default btn-danger trust-modal" title="Trust this person"
                                                        data-profile-username="{{ each.user.profile.username }}">
                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-success payment-modal" title="Check your payments"
                                                        data-profile-username="{{ each.user.profile.username }}">
                                                    <i class="fa fa-money" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-primary contact-modal" title="Contact the owner"
                                                        data-profile-username="{{ each.user.profile.username }}"
                                                        data-listing-title="{{ each.title }}">
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3>There is no open listings for this user</h3>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    {#  <p><i class="fa fa-balance-scale" aria-hidden="true"></i>{% blocktrans count hours=profile.overall_balance %} - {{ hours }} hour {% plural %} {{ hours }} hours</p>#}
                    {#    {% endblocktrans %}#}

                    {% if offer_tags %}
                    <div class="card">
                        <h4>Offer tags</h4>
                        {% for offer_tag in offer_tags %}
                            <span class="badge">{{ offer_tag.tag.name }}</span>
                        {% endfor %}
                    </div>

                    {% elif request_tags %}
                        <div class="card">
                            <h4>Request tags</h4>
                            {% for request_tag in request_tags %}
                                <span class="badge">{{ request_tag.tag.name }}</span>
                            {% endfor %}
                        </div>

                    {% elif teach_tags %}
                        <div class="card">
                            <h4>Teach tags</h4>
                            {% for teach_tag in teach_tags %}
                                <span class="badge">{{ teach_tag.tag.name }}</span>
                            {% endfor %}
                        </div>

                    {% elif learn_tags %}
                        <div class="card">
                            <h4>Learn tags</h4>
                            {% for learn_tag in learn_tags %}
                                <span class="badge">{{ learn_tag.tag.name }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="card">
                            <h4>Other tags</h4>
                            {% for other_tag in other_tags %}
                                <span class="badge">{{ other_tag.tag.name }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </section>

        <!-- Relationship with -->
        <section class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    {% if request.profile %}
                        <h4>My Relationship with {{ profile.name }}</h4>

                        <div>
                            <label>Current Balance: </label>
                            {% blocktrans count hours=profile.overall_balance %}
                                {{hours}} hour
                            {% plural %}
                                {{hours}} hours
                            {% endblocktrans %}
                        </div>

                        <div>
                            <label>Trusted balance:</label>
                            {% blocktrans count hours=profile.overall_balance %}
                                {{hours}} hour
                            {% plural %}
                                {{hours}} hours
                            {% endblocktrans %}
                        </div>

                        <div>
                            <label><a href="{% url 'relate:relationship' profile.username %}"
                            >{% trans 'Balance with Me: ' %}</a></label>
                            {% blocktrans count hours=account.balance %}
                                {{hours}} hour
                            {% plural %}
                                {{hours}} hours
                            {% endblocktrans %}
                        </div>
                        {% if account.partner_endorsement %}
                            <div>
                                <label>Endorsements from you:</label>
                                {% blocktrans count hearts=account.partner_endorsement.weight %}
                                    {{ partner }}
                                {% plural %}
                                    {{ partner }}
                                {% endblocktrans %}
                                {% blocktrans count hearts=account.partner_endorsement.weight %}
                                    {{ hearts }} trust
                                {% plural %}
                                    {{ hearts }} trusts
                                {% endblocktrans %}
                            </div>
                        {% endif %}
                        <div>
                            {% if account.endorsement %}
                                {% blocktrans count hearts=account.endorsement.weight %}
                                    <label>Endorsements from them {{ partner }}</label>
                                {% plural %}
                                    <label>Endorsements from them {{ partner }}</label>
                                {% endblocktrans %}
                                {% blocktrans count hearts=account.endorsement.weight %}
                                    {{ hearts }} hours trust
                                {% plural %}
                                    {{ hearts }} hours trust
                                {% endblocktrans %}
                            {% endif %}
                        </div>

                    {% endif %}
                </div>
            </div>
        </section>

        <section class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <h3>Endorsed by:</h3>
                    {% if profile_endorsements_received %}
                        {% for each_endorsement_received in profile_endorsements_received %}
                            <div class="container-fluid">
                                <hr>
                                <div class="image">
                                    <img class="img-rounded endorsed-by-img" src="{% profile_image_url each_endorsement_received.endorser '60x60' %}" alt="">
                                </div>
                                <p class="text">Description: {{ each_endorsement_received.text }}</p>
                                <p class="text">From <a href="{{ each_endorsement_received.endorser.get_absolute_url }}">
                                    {{ each_endorsement_received.endorser.name }}</a>
                                    to <a href="{{ each_endorsement_received.recipient.get_absolute_url }}">
                                        {{ profile.name }}</a>
                                </p>
                                {% if each_endorsement_received.endorser|check_referral:profile %}
                                    <p class="text"><i class="fa fa-thumbs-o-up" aria-hidden="true">&nbsp<a href="{{ each_endorsement_received.endorser.get_absolute_url }}">{{ each_endorsement_received.endorser.name }}</a> referred <a href="{{ each_endorsement_received.recipient.get_absolute_url }}">{{ profile.name }}</a> services</i></p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text">No endorsements received yet</p>
                    {% endif %}
                </div>
            </div>
        </section>

        <section class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <h3>Endorsements made:</h3>
                    {% if profile_endorsements_made %}
                        {% for each_endorsement_made in profile_endorsements_made %}
                            <div class="container-fluid">
                                <hr>
                                <div class="image">
                                    <img class="img-rounded endorsed-by-img" src="{% profile_image_url each_endorsement_made.recipient '60x60' %}" alt="">
                                </div>
                                <p class="text">Description: {{ each_endorsement_made.text }}</p>
                                <p class="text">From <a href="{{ profile.get_absolute_url }}">{{ profile.name }}</a> to <a href="{{ each_endorsement_made.recipient.get_absolute_url }}">{{ each_endorsement_made.recipient.name }}</a></p>
                                {% if profile|check_referral:each_endorsement_made.recipient %}
                                    <p class="text"><i class="fa fa-thumbs-o-up" aria-hidden="true">
                                        &nbsp<a href="{{ each_endorsement_made.endorser.get_absolute_url }}">
                                        {{ each_endorsement_made.endorser.name }}</a>
                                        referred <a href="{{ each_endorsement_made.recipient.get_absolute_url }}">
                                        {{ each_endorsement_made.recipient.name }}</a> services</i></p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text">No endorsements made yet</p>
                    {% endif %}
                    <hr>
                </div>
            </div>
        </section>

        <script>
            $(".listing-modal-profile").click(function (e) {
                $('#spin-modal').fadeIn();
                var listing_id = $(this).attr('data-listing-id');
                var url = '/get_listing_info/'+listing_id;
                var listing_picture_path = '/media/';
                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        if(data["data"]["stat"] == "ok"){
                            $('#listing-id').val(listing_id);
                            $('.listing-modal-title').text(data["data"]["listing_title"]);
                            $('.listing-img').attr("src", listing_picture_path+data["data"]["listing_photo"]);
                            $('#label-price').text(data["data"]["listing_price"]);
                            $('#label-profile-name').text(data["data"]["profile_name"]);
                            $('#profile-location').text(data["data"]["profile_location"]);
                            $('#listing-created-at').text(data["data"]["created_at"]);
                            $('#listing-created-at').attr("href", "/listing_details/"+listing_id);
                            $('#label-description').text(data["data"]["description"]);
                            $('#label-profile-username').text(data["data"]["username"]);
                            $('#label-profile-balance').text(data["data"]["balance"]);
                            $('#label-profile-occupation').text(data["data"]["job"]);
                            $('#trust-btn').attr('data-profile-username', data["data"]["username"]);
                            $('#payment-btn').attr('data-profile-username', data["data"]["username"]);
                            $('#contact-btn').attr('data-profile-username', data["data"]["username"]);
                            $('#spin-modal').fadeOut();
                            $("#listing-modal").modal("show");
                        }
                    },
                    error: function (data) {
                        $('#spin-modal').fadeOut();
                        showInternalServerError();
                    }
                });
            });
        </script>

        <script>
            $(".listing-modal").click(function (e) {
                $('#spin-modal').fadeIn();
                var listing_id = $(this).attr('data-listing-id');
                var url = '/get_listing_info/'+listing_id;
                var listing_picture_path = '/media/';
                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        if(data["data"]["stat"] == "ok"){
                            $('#listing-id').val(listing_id);
                            $('.listing-modal-title').text(data["data"]["listing_title"]);
                            $('.listing-img').attr("src", listing_picture_path+data["data"]["listing_photo"]);
                            $('#label-price').text(data["data"]["listing_price"]);
                            $('#label-profile-name').text(data["data"]["profile_name"]);
                            $('#profile-location').text(data["data"]["profile_location"]);
                            $('#listing-created-at').text(data["data"]["created_at"]);
                            $('#listing-created-at').attr("href", "/listing_details/"+listing_id);
                            $('#label-description').text(data["data"]["description"]);
                            $('#label-profile-username').text(data["data"]["username"]);
                            $('#label-profile-balance').text(data["data"]["balance"]);
                            $('#label-profile-occupation').text(data["data"]["job"])
                            $('#trust-btn').attr('data-profile-username', data["data"]["username"]);
                            $('#payment-btn').attr('data-profile-username', data["data"]["username"]);
                            $('#contact-btn').attr('data-profile-username', data["data"]["username"]);
                            $('#spin-modal').fadeOut();
                            $("#listing-modal").modal("show");
                        }
                    },
                    error: function (data) {
                        $('#spin-modal').fadeOut();
                        showInternalServerError();
                    }
                });
            });


            $(".trust-modal").click(function (e) {
                $('#spin-modal').fadeIn();
                var profile_username = $(this).attr('data-profile-username');
                $("#profile-username").val(profile_username);
                var url = '/trust_ajax/'+profile_username;
                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        if(data["data"]["stat"] == "error"){
                            $('#error-modal-alert').text(data["data"]["error_message"]);
                            $('#spin-modal').fadeOut();
                            $('#error-modal').modal("show");
                        }
                        else if(data["data"]["stat"] == "ok"){
                            $('#spin-modal').fadeOut();
                            $('.trust-modal-title').text('Trust ' +profile_username);
                            $("#new-trust-modal").modal("show");
                        }
                        else if(data["data"]["stat"] == "existing"){
                            $('#id_weight').val(data['data']['weight']);
                            $('#id_text').val(data['data']['text']);
                            $('#spin-modal').fadeOut();
                            $('.trust-modal-title').text('Trust ' +profile_username);
                            $("#new-trust-modal").modal("show");
                        }
                    },
                    error: function (data) {
                        $('#spin-modal').fadeOut();
                        showInternalServerError();
                    }
                });
            });

            $(".payment-modal").click(function (e) {
                debugger;
                $('#payment-loading-modal').modal("show");
                $('#spin-modal').fadeIn();
                var profile_username = $(this).attr('data-profile-username');
                $("#profile-username").val(profile_username);
                var url = '/acknowledge_ajax/'+profile_username;
                console.log(url);
                $.ajax({
                    url: url,
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        debugger;
                        if(data["data"]["stat"] != "ok"){
                            $('#error-modal-alert').text(data["data"]["stat"]);
                            $('#spin-modal').fadeOut();
                            $('#erHousingror-modal-alert').modal("show");
                        }
                        else if(!data['data']['can_ripple']){
                            $('label[for="id_ripple_0"]').closest('li').hide();
                            $('#id_ripple_1').attr('checked', true);
                            $('.ripple-hours').html("There are no available paths through the trust network to <strong>"+data['data']['recipient']+"</strong>, so you can only send direct acknowledgement.")
                            $('#spin-modal').fadeOut();
                            $('#payment-loading-modal').modal("hide");
                            $("#new-payment-modal").modal("show");
                        }else if(data["data"]["can_ripple"]){
                            $('#id_ripple_0').attr('checked', true);
                            $('.ripple-hours').html("You can send a trusted acknowledgement of up to " + data['data']['max_amount'] + " hour(s) or a direct acknowledgement of any amount.")
                            $('#spin-modal').fadeOut();
                            $('#payment-loading-modal').modal("hide");
                            $("#new-payment-modal").modal("show");
                        }
                    },

                    error: function (data) {
                        debugger;
                        $('#spin-modal').fadeOut();
                        showInternalServerError();
                    }
                });
                e.preventDefault();
            });

            $(".contact-modal").click(function (e) {
                $('#spin-modal').fadeIn();
                var profile_username = $(this).attr('data-profile-username');
                var listing_title = $(this).attr('data-listing-title');
                $("#profile-username").val(profile_username);
                $("#listing-title").val(listing_title);
                $('#contact-modal-title').text('Contact '+profile_username);
                $('#spin-modal').fadeOut();
                $("#new-contact-modal").modal("show");
            });
        </script>
    </div>
{% endblock %}