{% load static profile tag_utils %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Product List | Villages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'new_template/res/css/style.css' %}" type="text/css" media="all" />
    <script src="{% static 'new_template/node_modules/jquery/dist/jquery.js' %}" type="text/javascript"></script>
    <!-- jQuery -->
    <script src="{% static 'new_template/node_modules/popper.js/dist/umd/popper.js' %}" type="text/javascript"></script>
    <!-- Popper -->
    <script src="{% static 'new_template/node_modules/bootstrap/dist/js/bootstrap.js' %}" type="text/javascript"></script>
    <!-- Bootstrap -->

    <!-- Custom jQuery -->
    <script src="{% static 'new_template/res/js/index.js' %}" type="text/javascript"></script>

    <script src="{% static 'assets/typeahead.js/typeahead.jquery.min.js' %}"></script>
    <script src="{% static 'assets/typeahead.js/bloodhound.min.js' %}"></script>
    <!---->
</head>

<body>

<!-- svg sprites -->
<svg style="width:0; height:0; position: absolute; top: -9999px;">
    <symbol id="balance" viewbox="0 0 21 18">
    </symbol>
</svg>
<!---->

<div class="app-wrapper">

    <header class="app-header">
        <nav class="navbar navbar-expand-lg">

            <a class="navbar-brand" href="{% url 'frontend:home' %}">
                <img class="d-none d-sm-block" src="{% static 'new_template/res/img/logo_full.png' %}" alt="villages.io">
                <img class="d-block d-sm-none" src="{% static 'new_template/res/img/logo.png' %}" alt="villages.io">
            </a>

            <div class="user-menu d-flex d-lg-none">
                <a class="user-link" href="#"><img src="{% static 'new_template/res/img/icons/bell.png' %}" alt="notifications"></a>
                <a class="user-link" href="#">
                    <div class="avatar-wrapper">
                        <img src="{% profile_image_url request.profile '400x400' %}" alt="avatar" width="43px" height="44px"
                             class="rounded-circle">
                    </div>
                </a>
            </div>

            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#primary-navbar" aria-controls="primary-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="primary-navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'about:how_it_works' %}">How it works</a>
                            <a class="dropdown-item" href="{% url 'about:motivation' %}">Motivation</a>
                            <a class="dropdown-item" href="{% url 'about:privacy' %}">Privacy</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'about:contact_us' %}">Feedback</a>
                        </div>
                    </li>
                    {% if request %}
                        <li class="balance-item">
                            <img src="{% static 'new_template/res/img/icons/balance.png' %}" alt="balance">
                            <span id="account-balance">{{ request.profile.overall_balance }}</span>
                            <span id="account-currency">V.H.</span>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a id="add-posting" class="nav-link" href="#"><img src="{% static 'new_template/res/img/icons/plus.png' %}" alt="add" data-toggle="modal" data-target="#new-post-modal"></a>
                    </li>
                    <li class="nav-item">
                        <a id="blank-trust-id" class="nav-link" href="{% url 'relate:blank_trust_user' %}"><img src="{% static 'new_template/res/img/icons/heart.png' %}" alt="favorites"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'relate:blank_payment_user' %}"><img src="{% static 'new_template/res/img/icons/wallet.png' %}" alt="wallet"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile:undefined_contact' %}"><img src="{% static 'new_template/res/img/icons/mail.png' %}" alt="inbox"></a>
                    </li>
                </ul>
            </div>

            <div class="user-menu d-none d-lg-flex">
              <a class="user-link" href="#"><img src="{% static 'new_template/res/img/icons/bell.png' %}" alt="notifications"></a>
              <ul class="nav navbar-nav">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="avatar-wrapper blue">
                              <img src="{% profile_image_url request.profile '400x400' %}" alt="avatar" width=43px height=60px
                                   class="rounded-circle">
                          </div>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'profile:my_profile' %}">Profile</a>
                          <a class="dropdown-item" href="{% url 'listing_management:manage_listings' %}">Manage Listing</a>
                          <a class="dropdown-item" href="{% url 'accounts:sign_in_user:edit_profile' %}">Edit Profile</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'accounts:settings' %}">Settings</a>
{#                          <a class="dropdown-item" href="{% url 'management:management' %}">Management</a>#}
                      </div>
                  </li>
              </ul>
          </div>
        </nav>
        {% include 'messages.html' %}
    </header>
    <!-- .app-header -->

    <div class="app-view">

        <aside class="app-sidebar">

            <div class="cat-menu">
                <a class="cat-item active" href="{% url 'frontend:home' %}">
                    <div class="cat-item-icon">
                        <img src="{% static 'new_template/res/img/icons/all_categories.png' %}" alt="All Categories">
                    </div>
                    <span class="cat-item-name">All Categories</span>
                </a>
                <a class="cat-item" href="{% url 'frontend:home' 'SERVICES' %}">
                    <div class="cat-item-icon">
                        <img class="cat-item-icon" src="{% static 'new_template/res/img/icons/services.png' %}" alt="Services">
                    </div>
                    <span class="cat-item-name">Services</span>
                </a>
                <a class="cat-item" href="{% url 'frontend:home' 'PRODUCTS' %}">
                    <div class="cat-item-icon">
                        <img class="cat-item-icon" src="{% static 'new_template/res/img/icons/products.png' %}" alt="Products">
                    </div>
                    <span class="cat-item-name">Products</span>
                </a>
                <a class="cat-item" href="{% url 'frontend:home' 'HOUSING' %}">
                    <div class="cat-item-icon">
                        <img class="cat-item-icon" src="{% static 'new_template/res/img/icons/products.png' %}" alt="Housing">
                    </div>
                    <span class="cat-item-name">Housing</span>
                </a>
            </div>

        </aside>
        <!-- .app-sidebar -->

        <main class="app-main">

            <div class="trust-content">

                <div class="row">
                    <div class="col-12 col-xxl-8">

                        <h2>Account Settings</h2>

                        <form action="" method="post">
                            {% csrf_token %}

                            {% if not social_auth %}
                                <a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}?next=/settings/?settings=true"><i class="fa fa-facebook-official">&nbsp; Bind account to facebook</i></a>
                            {% endif %}

                            {% for field in settings_form %}
                                {% if field.errors %}
                                    <div class="form-group">
                                        <label for="{{ field.label }}" class="error">{{ field.label }}</label>
                                        {{ field }}
                                        <div class="alert alert-warning message">
                                            {% for error in field.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="form-group">
                                        <label for="{{ field.label }}">{{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                {% endif %}
                            {% endfor %}


                            <table class="form">
                                <tr>
                                    <th></th>
                                    <td>
                                        <input class="btn btn-submit btn-success" type="submit" name="change_settings"
                                               value="Save Settings">
                                    </td>
                                </tr>
                            </table>

                            {% if not form.is_valid %}
                                <script>
                                    setTimeout(function () {
                                        $('.message').slideUp("fast");
                                    }, 4000);
                                </script>
                            {% endif %}
                        </form>

                        <hr>

                        <h3>Change Password</h3>
                        <form action="" method="post">
                            {% csrf_token %}
                            <table class="form">
                                {% for field in password_form %}
                                    {% if field.errors %}
                                        <div class="form-group">
                                            <label for="{{ field.label }}" class="error">{{ field.label }}</label>
                                            {{ field }}
                                            <div class="alert alert-warning message">
                                                {% for error in field.errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="form-group">
                                            <label for="{{ field.label }}">{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <tr>
                                    <th></th>
                                    <td>
                                        <input class="btn btn-danger" type="submit" name="change_password"
                                               value="Change Password">
                                    </td>
                                </tr>
                            </table>
                        </form>