.con-padding-top {
  padding-top: 128px; }

.con-max-width {
  max-width: 768px; }

.logo {
  height: 48px;
  width: 48px; }

#navbar-logo {
  height: 80px;
  margin-left: -10px;}

.navtop {
  margin-top: 15px; }

.navbar-title {
  margin-left: 12px;
  font-weight: bold; }

.navbar-form .form-nav-what {
  border-radius: 25px 0 0 25px; }
.navbar-form .form-nav-location {
  border-radius: 0 25px 25px 0; }
.navbar-form .input-group {
  margin-left: -6px; }
.navbar-form button {
  border-radius: 18px;
  border-left: none; }

.navbar-default .navbar-auth > li > a {
  color: #E97C4A; }

.navbar-default {
  color: black; }

.navbar-form {
  padding: 0;
  border-radius: 12px; }

.navbar-default {
  color: orange; }

.active-home {
  background: #E97C4A;
  border-radius: 32px;
  margin-right: 12px;
  font-weight: bold; }
  .active-home a {
    color: white !important; }

.navbar-left {
  margin-left: 42px; }

/* Header file */
.jumbotron {
    background: #8DCEE2;
}
  .jumbotron .jumbotron-image {
    width: 100%;
    height: 480px;
    position: relative; }
  .jumbotron .jumbotron-content {
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 88px;
    padding-bottom: 48px;
    text-align: center;
    font-weight: bold; }

.sidenav .nav,
.nav .nav,
ul .nav {
  display: none; }

.sidenav .nav,
.nav > .active > ul .nav {
  display: block; }

.sidebar .nav .nav > li > a {
  color: black;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px; }

.inline {
  display: inline-block; }

#post-login-menu-item {
  position: fixed;
  width: 100%;
  padding-top: 88px;
  padding-bottom: 18px; }

#post-login-item {
  height: 634px;
  margin-top: 132px;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll; }

#profile-container-fluid {
  /*margin-top: 30px;*/
  padding-right: 0;
  padding-left: 0; }

#profile-jumbotron {
  padding-top: 28px;
  padding-bottom: 28px;
  background: #8DCEE2; }

.profile-star-rating {
  margin-left: 4px;
  font-size: 15px;
  color: orange; }

.Media {
  display: flex;
  align-items: flex-start; }

.Media-figure {
  margin-right: 1em; }

.Media-body {
  flex: 1; }

.table-relationship {
  width: 555px; }

.btn-20 {
  width: 20%; }

.btn-first {
  border-radius: 8px 0 0 8px; }

.btn-second {
  border-radius: 0 0 0 0; }

.btn-last {
  border-radius: 0 8px 8px 0; }

.btn-active {
  color: white;
  background: #E97C4A; }

.btn-non-active {
  background: lightgray; }

#show-home-item {
  margin-top: 26px; }

.jumbotron p {
  font-weight: bold; }

.slider-track {
  background: black; }

#slider12a .slider-track-high, #slider12c .slider-track-high {
  background: lightgray; }

#slider12b .slider-track-low {
  background: lightgray; }

#slider12c .slider-track-low {
  background: lightgray; }
#slider12c .slider-selection {
  background: #E97C4A; }
#slider12c .slider-handle {
  background: lightgray; }

#slider12b .slider-handle {
  background: red; }

.thumbnail, .image {
  border: 0;
  position: relative; }
  .thumbnail .caption, .image .caption {
    background: lightgray; }
    .thumbnail .caption img, .image .caption img {
      border-radius: 8px 8px 8px 8px; }

.thumbnail-info {
    position: absolute;
    top: 112px;
    width: 90%;
    font-size: 14px;
    font-weight: 900;
    background: rgba(25, 25, 25, .5);
    color: #f3f3f3;
    margin-left: 10px;
}

.thumbnail-tag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  margin-top: 4px;
  margin-left: -11px;
  margin-right: 4px;
  left: 225px;
  color: black;
  background: lightgray;
  border-radius: 0 0 0 9px;
  text-align: center; }

.card {
  height: 126px;
  width: 100%;
  padding: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .card h4 {
    padding-top: 22px; }

#payment {
  margin-top: 118px; }

#endorsement {
  margin-top: 120px; }

.full-width {
  width: 100% !important; }

.float-right {
  float: right; }

.top-buffer { margin-top:10px; }

#spin-modal i {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label-primary {
  font-size: small;
}

.fa-refresh {
    color: #4ed1ff;
}

.sidebar {
    flex: 1 230px;
    background: rgba(144, 199, 255, 0);
    font-family: "Lato", serif;
}

.sidebar header img {
    float: left;
    position: relative;
    top: 2px;
    left: 4px;
}

.sidebar header span {
    float: left;
    position: relative;
    top: 10px;
    left: 20px;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    width: 100%;
    color: #000000;
    list-style: none;
    cursor: pointer;
}

.sidebar ul li div {
    padding: 12px 8px;
}

.sidebar ul li ul {
    font-size: 14px;
}

.sidebar li ul li a {
    width: 100%;
    color: white;
    padding: 10px !important;
    list-style: none;
    /*border-top: solid 1px #3C4F5E;*/
    cursor: pointer;
}

.sidebar ul li .fa {
    float: left;
    position: relative;
    right: 10px;
    color: #8DCEE2;
    font-size: 22px;
}

.sidebar ul li div:hover, .sidebar ul li ul li:hover {
    background: #ff9f26;
}

.sidebar ul li:last-child {
    /*border-bottom: solid 1px #3C4F5E;*/
}

.sidebar a, .sidebar a:hover, .sidebar a:active {
    /*display: block;*/
    width: 100%;
    color: inherit !important;
    text-decoration: none !important;
}

div div div a {
    font-size: 14px;
}

.endorsed-by-img {
    height: 58px;
    width: 58px;
}

.label-add-post {
    font-family: "Lato", serif;
}

ul {
    list-style-type: none;
}

#id_ripple {
    padding: 0;
}

.thumbnail img .listing-img {
    width: 360px;
    height: 300px;
    display: block;
}

/* CSS spin modal */
#spin-modal i{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}
.back-spin{
    position: fixed;
    top: 0;
    left: 0;
    width:  100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 9;
}

.beta:after {
        position: absolute;
        top: 6px;
        left: -20px;
        width: 80px;
        height: 20px;
        background-color: #DA0000;
        content: "BETA ";
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        line-height: 21px;
        letter-spacing: 1px;
        transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
        z-index: 1000;
        opacity: 0.82;
}

.container-listing {
    width: 360px;
    height: 120px;
}

/* resize images */
.container-listing img {
    width: 100%;
    height: auto;
}

.twitter-typeahead{
    width: 100%;
}
.tt-dropdown-menu{
    width: 100%;
}