.notification-list {
  margin-top: 20px;
  .note {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 20px;
    min-height: 40px;
    background-color: #fff;
    color: $lightgrey;
    font-size: 14px;
    transition: all 0.2s ease;
    overflow: hidden;
    @include media-width-up(md) {
      font-size: 16px;
    }
    &:hover {
      @include crossShadow(0 1px 10px 0 rgba(119, 119, 119, 0.4));
    }
    .user {
      flex: 0 0 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      @include media-width-up(md) {
        flex: 0 0 30%;
        flex-direction: row;
      }
    }
    .avatar-wrapper {
      flex: 0 0 50%;
      @include media-width-up(md) {
        margin-right: 20px;
      }
    }
    .name {
      padding: 5px;
      flex: 0 0 100%;
      @include media-width-up(md) {
        flex: 0 0 50%;
      }
    }
    .type,
    .status,
    .time {
      padding: 0 5px;
      flex: 0 0 auto;
      @include media-width-up(md) {
        flex: 0 0 20%;
      }
    }
    .type {
      font-weight: bold;
      color: $lightgreen
    }
    .status {
      color: $darkblue;
    }
    .time {
      text-align: center;
      color: $lightblue;
    }
  }
}