/* payment-content */
.payment-content {
  @include make-container;
  padding: 12px 0 10px;
  & h2 {
    margin-bottom: 1em;
    font-size: 1.375em;
    text-transform: uppercase;
    color: #1d90b5;
  }
}

.payment-data {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
  background-color: #fff;
  @include crossShadow(0 0 16px 0 rgba(119, 119, 119, 0.06));
}

#payment-form {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 1.875em;
  .modal-body & {
    padding: 10px;
  }
  .id_recipient,
  .id_amount,
  .id_memo {
    .form-group:first-child {
      margin-bottom: 5px;
    }
    label {
      margin-bottom: 0;
    }
  }
  .item-cover {
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 78.456914%;
    flex: 0 0 50%;
    max-width: 50%;
    @include media-width-down(lg) {
      background-size: cover;
      background-position: center;
      flex: 0 0 100%;
      max-width: 100%;
      padding-top: 50%;
    }
  }
  .id_amount {
    .form-group:nth-child(2) {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        margin: 5px;
        width: 13px;
        height: 13px;
      }
    }
  }
  #id_amount {
    width: 150px;
    height: 44px;
  }
  & .transaction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 12% 2em;
  }
  & h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #8d8d8d;
  }
  & p {
    font-size: 0.875em;
    font-weight: 300;
    color: #5c5c5c;
  }
  & h4 {
    margin-top: 3em;
    font-size: 0.75em;
    color: #9a9a9a;
    text-transform: uppercase;
  }
  & input,
  & select,
  & textarea {
    font-size: 1.375em;
    font-weight: 300;
    border: 1px solid #ebebeb;
  }
  & input,
  & select {
    height: 2em;
  }
  textarea {
    overflow: auto;
    max-height: 400px;
    resize: none;
  }
  & .payment-rate {
    & img {
      height: auto;
      margin: auto 0 auto 0.5em;
    }
    & .tip-balloon {
      font-size: 0.625em;
      color: #ffffff;
      text-transform: uppercase;
      line-height: 1.125;
    }
  }
  & .currency-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 44px;
    background-color: #e1e1e1;
    font-size: 1.375em;
    font-weight: 600;
    color: #8d8d8d;
  }
  & .testimonial {
    padding-bottom: 1em;
    & #testimonial {
      height: 10em;
      font-size: 0.875em;
      color: #5c5c5c;
    }
  }
  & .btn-std {
    font-size: 1em;
    height: 3.75em;
    text-transform: uppercase;
    &:disabled {
      background-color: lighten($lightgrey, 20%);
      &:hover {
        background-color: lighten($lightgrey, 20%);
      }
    }
    &.btn-cancel {
      background-color: #ebebeb;
      &:hover,
      &:focus {
        background-color: darken(#ebebeb, 10%);
      }
    }
  }
  @include media-width-down(lg) {
    flex: 0 0 100%;
    max-width: 100%;
  }
  @include media-width-down(xs) {
    & .transaction {
      padding: 1em 0 2em;
    }
  }
}

.rows-wrapper {
  max-height: 600px;
  overflow: auto;
}

.table-head {
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  padding: 0 1em;
  border-bottom: 1px solid #ebebeb;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
  color: #d6d6d6;
  width: 100%;
  & span {
    display: block;
    text-align: center;
    &:nth-child(1) {
      flex: 0 1 20%;
    }
    &:nth-child(2) {
      flex: 0 1 20%;
    }
    &:nth-child(3) {
      flex: 0 1 40%;
    }
    &:nth-child(4) {
      flex: 0 1 20%;
    }
  }
}

.table-row {
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  @include crossShadow(0 0 16px 0 rgba(119, 119, 119, 0.06));
  font-weight: 300;
  color: #8d8d8d;
  margin-top: 1.5em;
  & .transaction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 4%;
  }
  & > * {
    text-align: center;
    &:not(.amount) {
      font-size: 0.875em;
    }
    &:nth-child(1) {
      flex: 0 1 40%;
    }
    &:nth-child(2) {
      flex: 0 1 40%;
    }
    &:nth-child(3) {
      flex: 0 1 20%;
    }
  }
  & > span {
    display: block;
    &.amount {
      font-weight: 500;
      & .price {
        color: #1d90b5;
      }
    }
  }
  @include media-width-down(md) {
    font-size: 0.9em;
  }
  @include media-width-down(sm) {
    font-size: 0.8em;
  }
}

// Search
.activate-search {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
  .fa-times-circle {
    display: none;
  }
  &.active {
    .fa-search {
      display: none;
    }
    .fa-times-circle {
      display: inline-block;
    }
  }
}
.search-block {
  display: none;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid $lightblue;
  .search-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    &.btn-block {
      justify-content: flex-end;
    }
    label {
      margin: 0;
      flex: 0 0 30%;
      color: $lightblue;
    }
    input {
      flex: 0 0 70%;
      border: 1px solid lighten($lightgrey, 20%);
    }
    .btn-search {
      width: 150px;
      text-transform: uppercase;
      color: #fff;
      background-color: $lightblue;
      border-radius: 0;
      cursor: pointer;
      transition: all 0.2s ease;
      &:hover {
        background-color: lighten($lightblue, 10%);
      }
    }
  }
}