{% extends "base.html" %}
{% load i18n %}
{% load profile %}


{% block content %}
    <div class="container">
        <h3>{% profile_display endorsement.endorser request endorsement.endorser %}
            {% trans 'Endorses' %}
            {% profile_display endorsement.recipient request endorsement.recipient %}
        </h3>

        <div class="feature">
            <table class="data">
                <tr>
                    <th>{% trans 'Date' %}</th>
                    <td>{{ endorsement.updated }}</td>
                </tr><tr>
                <th>{% trans 'Trusts: ' %}</th>
                <td>{{ endorsement.weight }}</td>
            </tr>
            </table>

            {{ endorsement.text|linebreaks }}
        </div>
    </div>
{% endblock %}
