/* navigation */
.app-header {
  position: relative;
  z-index: 1;
  & .navbar {
    padding-right: 1.4375em;
    padding-left: 1.4375em;
    @include media-width-down(lg) {
      font-size: 0.9em;
    }
    @include media-width-down(md) {
      font-size: 0.8em;
    }
    @include media-width-down(sm) {
      font-size: 0.7em;
    }
    @include media-width-down(xs) {
      font-size: 0.6em;
    }
  }
  .navbar-collapse .navbar-nav {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    @include media-width-down(xs) {
      height: auto;
      flex: 0 0 100%;
    }
  }
  & a.navbar-brand {
    margin-right: 0;
    padding: 8px;
    max-width: 14.75em;
    font-size: 1em;
    & img {
      max-width: 100%;
    }
    &:hover,
    &:focus {
      opacity: 0.5;
    }
    @include media-width-down(xs) {
      max-width: 5em;
    }
  }
  & .nav-link {
    -webkit-appearance: none;
    cursor: pointer;
    padding: 8px;
    margin: auto 0.625em;
    font-size: 0.875em;
    font-weight: 600;
    color: #505050;
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
  & .custom-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 1em;
    width: 1.75em;
    padding: 0;
  }
}

#primary-navbar {
  padding-right: 0.25em;
  font-size: 1rem;
  & .dropdown {
    @include media-width-down(xs) {
      width: 120px;
    }
  }
  & .dropdown-menu {
    position: absolute;
    font-size: 0.875em;
    & .dropdown-item {
      padding: 0.25em 1.25em;
    }
    @include media-width-down(md) {
      margin-bottom: 0.5em;
    }
  }
  & .balance-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 2.5em;
    padding-left: 2em;
    & a,
    & span {
      padding-left: 0.25em;
      display: flex;
      font-size: 1.3125em;
      font-weight: 300;
      color: #505050;
    }
    & #account-balance {
      padding-left: 0.625em;
    }
    & #account-currency {
      color: #d9d8d8;
    }
    @include media-width-down(md) {
      padding: 0;
      justify-content: center;
    }
    @include media-width-down(xs) {
      width: calc(100% - 120px);
    }
  }
}

.user-menu {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  .user-cover,
  .user-id {
    @include media-width-down(sm) {
      display: none;
    }
  }
  & a.user-link {
    display: flex;
    margin-left: 2.75em;
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
  & .navbar-nav .nav-link.dropdown {
    margin: 0 2em;
  }
  & .navbar-nav .dropdown-menu {
    font-size: 14px;
  }
  & .avatar-wrapper {
    width: 3.75em;
    height: 3.75em;
  }
}



ol.custom-breadcrumbs {
  background-color: transparent;
  padding: 0;
  & li.breadcrumb-item {
    font-size: 0.875em;
    text-transform: uppercase;
    & a {
      color: #cbcbcb;
      &:hover,
      &:focus {
        color: #76c9e4;
        text-decoration: none;
      }
    }
    &.active {
      color: #878787;
    }
    & + li.breadcrumb-item {
      &:before {
        content: '>';
        color: #cbcbcb;
      }
    }
  }
  @include media-width-down(xs) {
    font-size: 0.8em;
  }
}

.bg-menu-overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 25;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  @include crossTransition(all .3s);
  &.show {
    display: block;
    opacity: 1;
  }
}

#masthead {
  background-color: #fff;

  .main-navigation {
    & .site-branding {
      max-width: 220px;
      width: 100%;
    }
    & .navbar {
      min-height: 100px;
      padding: 0.5em 15px;
      & .btn-std {
        margin-left: 13px;
        height: 38px;
        width: 122px;
        &.btn-blue:not(.outline) {
          @include crossShadow(3.2px 3.2px 18px 0 rgba(119, 119, 119, 0.35));
          &:active {
            @include crossShadow(none);
          }
        }
      }
      @include media-width-down(lg) {
        min-height: 80px;
        & .site-branding {
          max-width: 180px;
        }
      }
      @include media-width-down(md) {
        min-height: 60px;
        padding: 0.5em 0.25em;
        & .site-branding {
          max-width: 120px;
        }
      }
      @include media-width-down(sm) {
        padding: 0.5em 0 0;
        & .btn-std {
          margin-top: 0.5em;
          margin-left: 0;
          @include crossBorder(0);
          flex: 0 0 50%;
        }
      }
    }
  }
  
  #primary-navbar,
  #social-navbar {
    height: 100%;
    & ul {
      margin-left: 0;
      height: 100%;
      & li {
        font-size: 0.875em;
        font-weight: 600;
        height: 100%;
          & a {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 1em;
          color: #8d8d8d;
          &:hover,
          &:focus {
            text-decoration: none;
            color: #1d90b5;					
          }
        }
      }
    }
  }

  #primary-navbar {
    flex: 1;
    justify-content: flex-end;
    & ul {
      flex-flow: row wrap;
    }
    @include media-width-down(md) {
      position: fixed;
      top: 0;
      left: 0;
      @include crossTransform(translateX(-100%));
      z-index: 30;
      background-color: #fff;
      max-width: 240px;
      height: 100vh;
      @include crossTransition(all .3s);
      display: flex;
      align-items: flex-start;
      & ul {
        height: auto;
        & li {
          flex: 0 0 100%;
          height: auto;
          & a {
            padding: 1em 2em;
            justify-content: flex-start;
          }
        }
      }
      &.show {
        @include crossTransform(translateX(0));
      }
    }
  }
  
  #social-navbar {
    flex: 0 0 auto;
    justify-content: center;
    padding: 0 1em;
    font-size: 1.375rem;
    & ul {
      & li {
        & a {
          padding: 0 0.75em;
          color: #000;
          opacity: 0.2;
          &:hover,
          &:focus {
            opacity: 1;
            color: #1d90b5;
          }
        }
      }
    }
    @include media-width-down(sm) {
      flex: 1 0 40%;
      padding: 0;
      & ul {
        justify-content: flex-end;
      }
    }
  }
}
