/* Simple rules of coding *****************************************************
 * 0
 * 1. font-size is percentage based, but em customized
 * 2. proportional spacing is preferably percentaged based on design pixel standard
 * 3. vertical spacing for text should be in em
 * 4. horizontal spacing for text should be in rem
 * 5. never edit CSS
 *
 ******************************************************************************/

/* External Imports */
// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

/* Internal Imports */
@import 'fonts';
@import 'mixins';
@import 'variables';
@import 'reset';
@import 'structure';
@import 'objects';
@import 'navigation';
@import 'typography';
@import 'modules';
