{% load staticfiles profile tag_utils %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Product List | Villages</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'new_template/res/css/style.css' %}" type="text/css" media="all" />
</head>

<body>

  <!-- svg sprites -->
  <svg style="width:0; height:0; position: absolute; top: -9999px;">
      <symbol id="balance" viewbox="0 0 21 18">
      </symbol>
    </svg>
  <!---->

    <header class="app-header">
      <nav class="navbar navbar-expand-lg">

        <a class="navbar-brand" href="{% url 'frontend:home' %}">
          <img class="d-none d-sm-block" src="{% static 'new_template/res/img/logo_full.png' %}" alt="villages.io">
          <img class="d-block d-sm-none" src="{% static 'new_template/res/img/logo.png' %}" alt="villages.io">
        </a>

        <div class="user-menu d-flex d-lg-none">
          <a class="user-link" href="#"><img src="{% static 'new_template/res/img/icons/bell.png' %}" alt="notifications"></a>
          <a class="user-link" href="#">
            <div class="avatar-wrapper">
              <img src="{% profile_image_url request.profile '400x400' %}" alt="avatar" width="43px" height="44px"
                   class="rounded-circle">
            </div>
          </a>
        </div>

        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#primary-navbar" aria-controls="primary-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="primary-navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  About Us
                </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'how_it_works' %}">How it works</a>
                <a class="dropdown-item" href="{% url 'motivation' %}">Motivation</a>
                <a class="dropdown-item" href="{% url 'privacy' %}">Privacy</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'contact_us' %}">Feedback</a>
              </div>
            </li>
              {% if request %}
            <li class="balance-item">
              <img src="{% static 'new_template/res/img/icons/balance.png' %}" alt="balance">
              <span id="account-balance">{{ request.profile.overall_balance }}</span>
              <span id="account-currency">V.H.</span>
            </li>
              {% endif %}
            <li class="nav-item">
              <a id="add-posting" class="nav-link" href="#"><img src="{% static 'new_template/res/img/icons/plus.png' %}" alt="add" data-toggle="modal" data-target="#new-post-modal"></a>
            </li>
            <li class="nav-item">
              <a id="blank-trust-id" class="nav-link" href="{% url 'blank_trust_user' %}"><img src="{% static 'new_template/res/img/icons/heart.png' %}" alt="favorites"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blank_payment_user' %}"><img src="{% static 'new_template/res/img/icons/wallet.png' %}" alt="wallet"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'undefined_contact' %}"><img src="{% static 'new_template/res/img/icons/mail.png' %}" alt="inbox"></a>
            </li>
          </ul>
        </div>

        <div class="user-menu d-none d-lg-flex">
          <a class="user-link" href="#"><img src="{% static 'new_template/res/img/icons/bell.png' %}" alt="notifications"></a>
          <a class="user-link" href="#">
            <div class="avatar-wrapper">
              <img src="{% profile_image_url request.profile '400x400' %}" alt="avatar" width=43px height=44px
                   class="rounded-circle">
            </div>
          </a>
        </div>
      </nav>
    </header>
    <!-- .app-header -->

    <div class="app-view">

      <aside class="app-sidebar">

        <div class="cat-menu">
          <a class="cat-item active" href="#">
            <div class="cat-item-icon">
              <img src="{% static 'new_template/res/img/icons/all_categories.png' %}" alt="All Categories">
            </div>
            <span class="cat-item-name">All Categories</span>
          </a>
          <a class="cat-item" href="#">
            <div class="cat-item-icon">
              <img class="cat-item-icon" src="{% static 'new_template/res/img/icons/services.png' %}" alt="Services">
            </div>
            <span class="cat-item-name">Services</span>
          </a>
          <a class="cat-item" href="#">
            <div class="cat-item-icon">
              <img class="cat-item-icon" src="{% static 'new_template/res/img/icons/products.png' %}" alt="Products">
            </div>
            <span class="cat-item-name">Products</span>
          </a>
          <a class="cat-item" href="#">
            <div class="cat-item-icon">
              <img class="cat-item-icon" src="{% static 'new_template/res/img/icons/products.png' %}" alt="Housing">
            </div>
            <span class="cat-item-name">Housing</span>
          </a>
        </div>

      </aside>
      <!-- .app-sidebar -->

      <main class="app-main">

        <form id="search-form" class="form-container">

          <div class="row">

            <div class="col-12 col-md-6 col-lg-4 col-xxl-2">

              <select class="filter-input" id="inputListingType" name="listing_type">
                  <option value="default" selected disabled>Choose a listing type</option>
                  <option value="OFFER">Offer</option>
                  <option value="REQUEST">Request</option>
                  <option value="TEACH">Teach</option>
                  <option value="LEARN">Learn</option>
                </select>

            </div>

            <div class="col-12 col-xs-6 col-lg-4 col-xxl-3">

              <div class="custom-group">

                <label class="custom-radio" for="radio-grid">
                    <a href="{% url 'frontend:home' %}">
                    <input id="radio-grid" type="radio" name="view-radio" value="grid" checked>
                    <span class="btn-input-layout">
                        <img class="btn-input-icon" src="{% static 'new_template/res/img/icons/grid.png' %}" alt="Grid">
                      <span class="btn-input-text">Grid</span>
                    </span>
                        </a>
                  </label>

                <label class="custom-radio" for="radio-map">
                    <input id="radio-map" type="radio" name="view-radio" value="map">
                    <span class="btn-input-layout">
                      <img class="btn-input-icon" src="{% static 'new_template/res/img/icons/map.png' %}" alt="Map">
                      <span class="btn-input-text">Map</span>
                    </span>
                  </label>

              </div>

            </div>

{#            <div class="col-12 col-xs-6 col-md-4 col-lg-4 col-xxl-2">#}
{##}
{#              <select class="filter-input" name="place">#}
{#                  <option value="anywhere" selected>Anywhere</option>#}
{#                  <option value="option-2">Option 2</option>#}
{#                  <option value="option-3">Option 3</option>#}
{#                </select>#}
{##}
{#            </div>#}

            <div class="col-12 col-sm-8 col-md-8 col-lg-6 col-xxl-3">

              <div class="custom-group">

                <label class="custom-radio" for="radio-posts">
                    <input id="radio-posts" type="radio" name="type-radio" value="posts" checked>
                    <span class="btn-input-layout">
                      <span class="btn-input-icon checkbox">
                        <svg viewbox="0 0 7 7">
                          <path d="
                            M 0.6,3.5
                            L 2.3,5.25
                            L 6.4,0.9
                            l 0.6,0.6
                            L 2.3,6.15
                            L 0,4.1
                            z">
                        </svg>
                      </span>
                      <span class="btn-input-text">View Posts</span>
                    </span>
                  </label>

                  <label class="custom-radio" for="radio-people">
                      <input id="radio-people" type="radio" name="type-radio" value="people">
                      <span class="btn-input-layout">
                      <span class="btn-input-icon checkbox">
                        <svg viewbox="0 0 7 7">
                          <path d="
                            M 0.6,3.5
                            L 2.3,5.25
                            L 6.4,0.9
                            l 0.6,0.6
                            L 2.3,6.15
                            L 0,4.1
                            z">
                        </svg>
                      </span>
                      <span class="btn-input-text">View People</span>
                    </span>
                  </label>

              </div>

            </div>

            <div class="col-6 col-sm-4 col-lg-3 col-xxl-2">

              <label class="custom-check" for="id_trusted">
                  <input id="id_trusted" type="checkbox" name="trusted" value="on">
                  <span class="btn-input-layout">
                    <img class="btn-input-icon" src="{% static 'new_template/res/img/icons/lock.png' %}" alt="Lock">
                    <span class="btn-input-text">Trusted</span>
                  </span>
                </label>
            </div>
          </div>

          <div class="row">

            <div class="col-12 col-sm-8 col-xxl-5">

              <div class="textbox-with-icon">
                  {{ form_listing_settings.q }}
                <img class="textbox-icon" src="{% static 'new_template/res/img/icons/magnifier.png' %}" alt="magnifier">
              </div>

            </div>

            <div class="col-12 col-sm-4 col-xxl-2">

              <input type="submit" name="search" value="Search">

            </div>

          </div>

        </form>

        <div class="search-results">

          <div class="row">

              {% for each in listing_items %}

            <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4 col-xxl-3">

              <div class="post-box">

                <div class="post-cover" style="background-image: url('{% product_image_url each '320x320' %}');">

                  <span class="type">{{ each.listing_type }}</span>
                  <span class="price">{{ each.price }} VH</span>
                  <span class="bookmark bookmarked"></span>

                </div>

                <div class="post-content">

                  <div class="avatar-thumbnail" style="background-image: url('{% profile_image_url each.user.profile '60x60' %}')">
                    <img class="trusted-icon rounded-circle" src="{% static 'new_template/res/img/icons/trusted-icon.png' %}"
                         alt="trusted">
                  </div>

                  <h1>{{ each.title|slice:":80" }}</h1>
                  <p>{{ each.description }}</p>
                  <div class="tag-container">
                      {% for each_tag in each.tag.all %}
                          <a class="tag" href="#">{{ each_tag.name }}</a>
                      {% endfor %}
                  </div>

                </div>

                <div class="post-action">

                  <a class="action-menu-item" href="#"><img src="{% static 'new_template/res/img/icons/heart.png' %}" alt="like"></a>
                  <a class="action-menu-item" href="#"><img src="{% static 'new_template/res/img/icons/wallet.png' %}" alt="buy"></a>
                  <a class="action-menu-item" href="#"><img src="{% static 'new_template/res/img/icons/mail.png'%}" alt="contact"></a>

                </div>

              </div>

            </div>

              {% endfor %}

          </div>

        </div>

      </main>
      <!-- .app-main -->

    </div>

  </div>
    <script>
        $("#radio-people").click(function () {
            window.location.href = "{% url 'frontend:people_listing' %}"
        });
        $("#radio-posts").click(function () {
            window.location.href = "{% url 'frontend:home' %}"
        });
        $("#radio-grid").click(function () {
            window.location.href = "{% url 'frontend:home' %}"
        });
        $("#radio-map").click(function () {
            window.location.href = "{% url 'frontend:map' %}"
        })
    </script>

</body>

</html>
