{% load staticfiles profile tag_utils humanize %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Your Profile | Villages</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'new_template/res/css/style.css' %}" type="text/css" media="all" />
    <script src="{% static 'new_template/node_modules/jquery/dist/jquery.js' %}" type="text/javascript"></script>
    <!-- jQuery -->
    <script src="{% static 'new_template/node_modules/popper.js/dist/umd/popper.js' %}" type="text/javascript"></script>
    <!-- Popper -->
    <script src="{% static 'new_template/node_modules/bootstrap/dist/js/bootstrap.js' %}" type="text/javascript"></script>
    <!-- Bootstrap -->

    <!-- Custom jQuery -->
    <script src="{% static 'new_template/res/js/index.js' %}" type="text/javascript"></script>
</head>

<body>

<!-- svg sprites -->
<svg style="width:0; height:0; position: absolute; top: -9999px;">
    <symbol id="balance" viewbox="0 0 21 18">
    </symbol>
</svg>
<!---->

{% include 'listing_modal.html' %}
{% include 'new_templates/03_NewPost_001b.html' %}
{% include 'new_trust_modal.html' %}
{% include 'new_payment_modal.html' %}
{% include 'new_contact_modal.html' %}
{% include 'payment-loading-modal.html' %}
{% include 'error-modal.html' %}
{% include 'templates.html' %}

<div class="app-wrapper">
    <header class="app-header">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'frontend:home' %}">
          <img class="d-none d-sm-block" src="{% static 'new_template/res/img/logo_full.png' %}" alt="villages.io">
          <img class="d-block d-sm-none" src="{% static 'new_template/res/img/logo.png' %}" alt="villages.io">
        </a>
      <div class="user-menu d-flex d-lg-none">
          <a class="user-link" href="#"><img src="{% static 'new_template/res/img/icons/bell.png' %}" alt="notifications"></a>
          <a class="user-link" href="#">
            <div class="avatar-wrapper blue">
              <img src="{% profile_image_url request.profile '400x400' %}" alt="avatar" height="100%" width="200px"
                   style="position: relative; border-radius: 50%; overflow: hidden;">
            </div>
          </a>
        </div>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#primary-navbar" aria-controls="primary-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="primary-navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  About Us
                </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'how_it_works' %}">How it works</a>
                <a class="dropdown-item" href="{% url 'motivation' %}">Motivation</a>
                <a class="dropdown-item" href="{% url 'privacy' %}">Privacy</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'contact_us' %}">Feedback</a>
              </div>
            </li>
              {% if request %}
            <li class="balance-item">
              <img src="{% static 'new_template/res/img/icons/balance.png' %}" alt="balance">
              <span id="account-balance">{{ request.profile.overall_balance }}</span>
              <span id="account-currency">V.H.</span>
            </li>
              {% endif %}
            <li class="nav-item">
              <a id="add-posting" class="nav-link" href="#"><img src="{% static 'new_template/res/img/icons/plus.png' %}" alt="add" data-toggle="modal" data-target="#new-post-modal"></a>
            </li>
            <li class="nav-item">
              <a id="blank-trust-id" class="nav-link" href="{% url 'blank_trust_user' %}"><img src="{% static 'new_template/res/img/icons/heart.png' %}" alt="favorites"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blank_payment_user' %}"><img src="{% static 'new_template/res/img/icons/wallet.png' %}" alt="wallet"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'undefined_contact' %}"><img src="{% static 'new_template/res/img/icons/mail.png' %}" alt="inbox"></a>
            </li>
          </ul>
        </div>
        <div class="user-menu d-none d-lg-flex">
              <a class="user-link" href="#"><img src="{% static 'new_template/res/img/icons/bell.png' %}" alt="notifications"></a>
              <ul class="nav navbar-nav">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="avatar-wrapper blue">
                              <img src="{% profile_image_url request.profile '400x400' %}" alt="avatar" height="100%" width="200px"
                                   style="position: relative; border-radius: 50%; overflow: hidden;">
                          </div>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'my_profile' %}">Profile</a>
                          <a class="dropdown-item" href="{% url 'listing_management:manage_listings' %}">Manage Listing</a>
                          <a class="dropdown-item" href="{% url 'accounts:sign_in_user:edit_profile' %}">Edit Profile</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'accounts:settings' %}">Settings</a>
                          <a class="dropdown-item" href="{% url 'management:management' %}">Management</a>
                          <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                      </div>
                  </li>
              </ul>
          </div>
      </nav>
    </header>
    {% include 'messages.html' %}
    <!-- .app-header -->

    <div class="app-view">

        <aside class="app-sidebar">

            <div class="user-menu">
                <div class="user-cover" style="background-image: url('{% static 'images/logo.png' %}');" data-toggle="tooltip" title="villages.io"></div>
                <div class="user-id">
                    <div class="avatar-wrapper big">
                        <img src="{% profile_image_url request.profile '60x60' %}" alt="avatar" height="100%" width="200px"
                             style="position: relative; border-radius: 50%; overflow: hidden; object-fit: cover;">
                    </div>
                    <h1>{{ request.profile.name }}</h1>
                </div>
                <div class="user-data">
                    <div class="data-block">
                        <img src="{% static 'new_template/res/img/icons/balance_blue.png' %}" alt="balance">
                        <span>{{ request.profile.overall_balance }}</span>
                    </div>
                    <div class="data-block">
                        <img src="{% static 'new_template/res/img/icons/briefcase_blue.png' %}" alt="occupation">
                        <span>{{ request.profile.job }}</span>
                    </div>
                    <div class="data-block">
                        <img src="{% static 'new_template/res/img/icons/heart_blue.png' %}" alt="likes">
                        <span>{{ request.profile.endorsement_count }}</span>
                    </div>
                    <div class="data-block">
                        <img src="{% static 'new_template/res/img/icons/map_blue.png' %}" alt="location">
                        <span>{{ request.profile.location }}</span>
                    </div>
                    <div class="data-block">
                        <img src="{% static 'new_template/res/img/icons/calendar_blue.png' %}" alt="date">
                        <span>{{ request.profile.user.date_joined|naturalday }}</span>
                    </div>
                </div>
            </div>

            <div class="social-menu">

                <a class="social-link" href="#"><img src="{% static 'new_template/res/img/icons/instagram.png' %}" alt="instagram"></a>
                <a class="social-link" href="#"><img src="{% static 'new_template/res/img/icons/facebook.png' %}" alt="facebook"></a>
                <a class="social-link" href="#"><img src="{% static 'new_template/res/img/icons/twitter.png'%}" alt="twitter"></a>

            </div>

        </aside>
        <!-- .app-sidebar -->

        <main class="app-main">

            <div class="profile-content">

                <div class="row">
                    <div class="col-12 col-xxl-7">

                        <div class="row">

                            <div class="col-12">
                                <h2>Profile Description</h2>
                                <p>{{ profile.description }}</p>
{#                                <h2>Tags</h2>#}
{#                                <div class="row">#}
{#                                    <div class="col-3">#}
{#                                        <h3>Teach</h3>#}
{#                                        <ul>#}
{#                                            <li>Sensuality</li>#}
{#                                            <li>Tantra</li>#}
{#                                            <li>Communication</li>#}
{#                                            <li>Meditation</li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                    <div class="col-3">#}
{#                                        <h3>Offer</h3>#}
{#                                        <ul>#}
{#                                            <li>Sensuality</li>#}
{#                                            <li>Tantra</li>#}
{#                                            <li>Communication</li>#}
{#                                            <li>Meditation</li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                    <div class="col-3">#}
{#                                        <h3>Learn</h3>#}
{#                                        <ul>#}
{#                                            <li>Sensuality</li>#}
{#                                            <li>Tantra</li>#}
{#                                            <li>Communication</li>#}
{#                                            <li>Meditation</li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                    <div class="col-3">#}
{#                                        <h3>Request</h3>#}
{#                                        <ul>#}
{#                                            <li>Sensuality</li>#}
{#                                            <li>Tantra</li>#}
{#                                            <li>Communication</li>#}
{#                                            <li>Meditation</li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>

                        </div>

                        <div class="row" id="product_list" style="margin-top: 5em;">

                            {% if listings %}
                                {% for each in listings %}
                                    <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4 col-xxl-3">
                                            <div class="post-box">

                                            <div class="post-cover listing-modal" data-listing-id="{{ each.id }}" style="background-image: url('{% product_image_url each '280x280' %}');">

                                                <span class="type">{{ each.listing_type }}</span>
                                                <span class="price">{{ each.price }} VH</span>

                                            </div>

                                            <div class="post-content">

                                                <div class="avatar-thumbnail" style="background-image: url('{% profile_image_url each.user.profile '60x60' %}'); background-size: cover;">
                                                    <img class="trusted-icon" src="{% static 'new_template/res/img/icons/trusted-icon.png' %}" alt="trusted">
                                                </div>

                                                <h1>{{ each.title }}</h1>
                                                <p>{{ each.description }}</p>
                                                <div class="tag-container">
                                                    {% for each_tag in each.tag.all %}
                                                    <a class="tag" href="#">{{ each_tag.name }}</a>
                                                    {% endfor %}
                                                </div>

                                            </div>

                                            <div class="post-action">
                                                <a class="action-menu-item trust-modal" data-profile-username="{{ each.user.profile.username }}" href="#"><img src="{% static 'new_template/res/img/icons/heart.png' %}" alt="like"></a>
                                                <a class="action-menu-item" href="{% url 'blank_payment_user' %}"><img src="{% static 'new_template/res/img/icons/wallet.png' %}" alt="buy"></a>
                                                <a class="action-menu-item contact-modal" data-profile-username="{{ each.user.profile.username }}"
                                                   data-listing-title="{{ each.title }}" href="#"><img src="{% static 'new_template/res/img/icons/mail.png'%}" alt="contact"></a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>

                    </div>

                    <div class="col-12 col-xxl-5">

                        <div class="endorsement-box">
                            <h2>Endorsed By</h2>
                            {% if endorsements_received %}
                                {% for each_endorsement_received in endorsements_received %}
                                    <div class="endorsement-block">

                                        <div class="avatar-wrapper blue">
                                            <img src="{% profile_image_url each_endorsement_received.endorser '60x60' %}" alt="avatar" height="100%" width="200px"
                                                 style="position: relative; border-radius: 50%; overflow: hidden;" >
                                        </div>

                                        <div class="endorsement">
                                            <p class="endorsement-flow">From <a href="{{ each_endorsement_received.endorser.get_absolute_url }}">{{ each_endorsement_received.endorser.name }}</a> to <a href="{{ each_endorsement_received.recipient.get_absolute_url }}">{{ request.profile.name }}</a></p>
                                            <p class="endorsement-text">{{ each_endorsement_received.text }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="endorsement-box">
                            <h2>Endorsements Made</h2>
                        {% if endorsements_made %}
                        {% for each_endorsement_made in endorsements_made %}
                            <div class="endorsement-block">

                                <div class="avatar-wrapper blue">
                                    <img src="{% profile_image_url each_endorsement_made.recipient '60x60' %}" alt="avatar" width="43px"
                                         height="70px" class="rounded-circle">
                                </div>

                                <div class="endorsement">
                                    <p class="endorsement-flow">From <a href="{{ request.profile.get_absolute_url }}">{{ request.profile }}</a> to <a href="{{ each_endorsement_made.recipient.get_absolute_url }}">{{ each_endorsement_made.recipient.name }}</a></p>
                                    <p class="endorsement-text">{{ each_endorsement_made.text }}</p>
                                </div>

                            </div>
                            {% endfor %}
                        {% endif %}

                        </div>

                    </div>

                </div>

            </div>

        </main>
        <!-- .app-main -->

    </div>

</div>

<script>
    $("#product_list").on('click','.listing-modal',function (e) {
        $('#spin-modal').fadeIn();
        var listing_id = $(this).attr('data-listing-id');
        var url = '/get_listing_info/'+listing_id;
        var listing_picture_path = '/uploads/';
        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            success: function (data) {
                if(data["data"]["stat"] == "ok"){
                    $('#listing-id').val(listing_id);
                    $('.listing-modal-title').text(data["data"]["listing_title"]);
                    $('.listing-img').attr("src", listing_picture_path+data["data"]["listing_photo"]);
                    $('#label-listing-type').text(data["data"]["listing_type"]);
                    $('#label-price').text(data["data"]["listing_price"]);
                    $('#label-profile-name').text(data["data"]["profile_name"]);
                    $('#profile-location').text(data["data"]["profile_location"]);
                    $('#listing-created-at').text(data["data"]["created_at"]);
                    $('#listing-created-at').attr("href", "/listing_details/"+listing_id);
                    $('#label-description').text(data["data"]["description"]);
                    $('#listing-profile-username').text(data["data"]["username"]);
                    $("#listing-profile-username").attr("href", "/profiles/"+data["data"]["username"]);
                    $('#label-profile-balance').text(data["data"]["balance"]);
                    $('#label-profile-occupation').text(data["data"]["job"]);
                    $('#trust-btn').attr('data-profile-username', data["data"]["username"]);
                    $('#payment-btn').attr('data-profile-username', data["data"]["username"]);
                    $('#contact-btn').attr('data-profile-username', data["data"]["username"]);
                    $('#spin-modal').fadeOut();
                    $("#listing-modal").modal("show");
                }
            },
            error: function (data) {
                $('#spin-modal').fadeOut();
                showInternalServerError();
            }
        });
    });
</script>
</body>

</html>
