{% extends 'new_templates/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="col-tab-12 col-lg-8 offset-lg-2">
            <div class="form-content">
                <div class="form-header">
                    <h5 class="form-title">Add Post</h5>
                </div>
                <div class="form-body">

                    <form class="form-container" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'new_templates/form.html' %}

                        <div class="col-sm-12 col-md-6 offset-md-3">
                            <button class="btn-save" style="width:100%">Save</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
