{% load staticfiles profile tag_utils %}

<!-- new post modal -->
<form class="form-horizontal" id="add-posting-modal" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="new-post-modal" tabindex="-1" role="dialog" aria-labelledby="new-post-modal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="new-post-heading">New Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="{% static 'new_template/res/img/icons/times.png' %}" alt="close">
                    </button>
                </div>
                <div class="modal-body">
                    <form class="modal-container">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label for="listing-type">Listing Type</label>
                                {{ listing_form.listing_type }}
                                <div class="alert alert-warning collapse"
                                     id="error_{{ listing_form.listing_type.name }}"></div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <label for="category">Category</label>
                                {{ listing_form.categories }}
                                <div class="alert alert-warning collapse"
                                     id="error_{{ listing_form.categories.name }}"></div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <label for="sub-category">Sub-Category</label>
                                {{ listing_form.subcategories }}
                                <div class="alert alert-warning collapse"
                                     id="error_{{ listing_form.subcategories }}"></div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4">
                                <label for="title">Title</label>
                                {{ listing_form.title }}
                                <div class="alert alert-warning collapse" id="error_{{ listing_form.title }}"></div>
                                <label for="price">Price (in Village Hours)</label>
                                <div class="d-flex">
                                    {{ listing_form.price }}
                                    <span class="currency-wrapper">V.H.</span>
                                    <div class="alert alert-warning collapse" id="error_{{ listing_form.price }}"></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-5">
                                <label for="description">Description</label>
                                {{ listing_form.description }}
                                <div class="alert alert-warning collapse"
                                     id="error_{{ listing_form.description }}"></div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-3">
                                <label>&nbsp;</label>
                                <div class="drag-and-drop-container">
                                    {{ listing_form.photo }}
                                    <div class="alert alert-warning collapse" id="error_{{ listing_form.photo }}"></div>
                                    <img src="{% static 'new_template/res/img/icons/camera.png' %}" alt="photo">
                                    <p class="action-call"></p>
                                    <p><label class="inline" for="id_photo">browse</label></p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-7">
                                <label for="tags">Tags</label>
                                {{ listing_form.tag }}
                                <div class="alert alert-warning collapse" id="error_{{ listing_form.tag.name }}"></div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-12 col-xl-3">
                                <label>&nbsp;</label>
                                <input type="submit" value="POST" id="save-post">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
$(document).ready(function () {
    $('#save-post').click(function (e) {
        e.preventDefault();
        $('#save-post').attr("disabled", true);
        var postData = new FormData($('#add-posting-modal')[0]);
        $.ajax({
            url: '{% url 'new_listing' %}',
            type: 'POST',
            data: postData,
            processData: false,
            contentType: false,
            success: function (data) {
                debugger;
                $('#new-posting-modal').modal("hide");
                showSuccessMessage('Listing added successfully!');
                $('#save-post').attr("disabled", false);
                location.reload();
            },
            error: function (d) {
                $('#save-post').attr("disabled", false);
                showFormErrors(d['responseJSON']['errors'])
            }
        });
        $('#add-posting-modal').unbind('submit');
        return false
    });

    $("#id_categories").on('change', function (e) {
        var selected_category = $(this).val();
        $.ajax({
            url: "{% url 'subcategories_filter' %}",
            type: 'GET',
            data: {'category': selected_category},
            success: function (e) {
                $("#id_subcategories").find("option").remove().end();
                e.result.forEach(function (data) {
                    $("#id_subcategories").append($("<option />").val(data["id"]).text(data["text"]))
                });
            },
            error: function (e) {
                showInternalServerError();
            }
        })
    });

    // Filereader for image upload
    var $input = $('.image-input');

    $input.on('change', function(e) {
        //hide error
        $('.upload-error').text('');
        $('.upload-error').css('opacity', '0');
        //get FileList
        var files = e.target.files;
        var $this = $(this);

        //if files are chosen
        if (files.length) {
            var file = files[0];
            var fileSize = Math.round(file.size / 1024 / 1024  * 100) / 100;
            var img, reader;

            if (fileSize > 10) {
                $('.upload-error').text('Please, load image less than 10MB.');
                $('.upload-error').css('opacity', '1');
                return;
            }

            //get file data
            reader = new FileReader();

            reader.onload = function(e) {

                var fileData = e.target.result;

                if (file.type.substr(0, 5) === 'image') {
                    var $imagePreview = $this.parent('.input-block').find('.image-preview');

                    if ($imagePreview.length > 0) {
                        $imagePreview.attr('src', fileData);
                    } else {
                        img = '<img class="image-preview" src="' + fileData + '" alt="preview">'
                        $('.input-block').append(img);
                    }
                } else {
                    $('.upload-error').text('You should load an image here.');
                    $('.upload-error').css('opacity', '1');
                }
            };
            reader.readAsDataURL(file);
        }
    });
});
</script>


<style>
    .bootstrap-tagsinput .tag {
        color: #000;
    }

    .bootstrap-tagsinput {
        width: 100%;
    }
</style>