{% load static profile %}

<div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4 col-xxl-3"
     id="div_listing_{{ item.user.profile.username }}">

    <div class="post-box">

        <div class="post-cover listing-modal"
             style="background-image: url('{% product_image_url item '320x320' %}');"
             data-listing-id="{{ item.id }}">
            <span class="type">{{ item.listing_type }}</span>
            <span class="price">{{ item.price }} VH</span>
        </div>

        <div class="post-content listing-modal" data-listing-id="{{ item.id }}">
            <div class="avatar-thumbnail"
                 style="background-image: url('{% profile_image_url item.user.profile '80x80' %}');">
                {% if item.user.profile in request.profile.trusted_profiles.all %}
                <img class="trusted-icon"
                     src="{% static 'new_template/res/img/icons/trusted-icon.png' %}"
                     alt="trusted">
                {% endif %}
            </div>

            <h1>{{ item.title|slice:":80" }}</h1>
            <p>{{ item.description|truncatechars:100 }}</p>
            <div class="tag-container">
                {% for item_tag in item.tag.all %}
                    <a class="tag" href="#">{{ item_tag.name }}</a>
                {% endfor %}
            </div>

        </div>
        <div class="post-action{% if item.profile == request.profile %} self-profile{% endif %}">
            {% if item.profile == request.profile %}
                <a class="action-menu-item edit-post-button"
                   href="{% url 'listing_management:edit' item.id %} "><img
                        src="{% static 'new_template/res/img/icons/edit.svg' %}"
                        alt="edit"></a>
                <a class="action-menu-item delete-post-button"
                   href="{% url 'listing_management:delete' item.id %}"><img
                        src="{% static 'new_template/res/img/icons/trash-alt.svg' %}"
                        alt="like"></a>
            {% else %}
                <a class="action-menu-item trust-button"
                   data-profile-username="{{ item.user.username }}"
                   href="{{ item.get_trust_link }}">
                    <img src="{% static 'new_template/res/img/icons/heart.png' %}" alt="like">
                </a>
                <a class="action-menu-item pay-button"
                   data-profile-username="{{ item.user.username }}"
                   href="{{ item.get_payment_link }}">
                    <img src="{% static 'new_template/res/img/icons/wallet.png' %}" alt="buy"></a>
                <a class="action-menu-item contact-button"
                   data-profile-username="{{ item.user.username }}"
                   data-listing-title="{{ item.title }}"
                   href="{{ item.get_contact_link }}"><img
                        src="{% static 'new_template/res/img/icons/mail.png' %}" alt="contact"></a>
            {% endif %}

        </div>

    </div>

</div>