{% load staticfiles humanize %}

{% for notification in notifications %}
    <div class="dropdown-item">
        <div class="note-item">
            New <span>{{ notification.notification_type|lower }}</span> from
            <a href="{{ notification.notifier.get_absolute_url }}">{{ notification.notifier.username }}</a>
            {% if notification.amount %}({{ notification.amount }} V.H.){% endif %}
            <span>{{ notification.created_at|naturaltime }}</span>
        </div>
    </div>
{% empty %}
    <div class="dropdown-no-items">You don't have new notifications</div>
{% endfor %}
