{% extends "new_templates/base.html" %}
{% load staticfiles humanize profile  %}

{% block content %}
    <div class="rows-wrapper">

        {% for notification in notifications %}
            <div class="table-row">
                {{ notification.notifier.username }}
                <div class="avatar-wrapper blue">
                    <a href="{{ notification.notifier.get_absolute_url }}">
                        <img src="{% profile_image_url notification.notifier '400x400' %}"
                             alt="photo"
                             data-toggle="tooltip" data-placement="right"
                             data-html="true"
                             title="&lt;span class='tip-balloon'&gt;{{ notification.notifier.username }}&lt;/span&gt;">
                    </a>
                </div>

                {{ notification.notification_type }}
                {{ notification.status }}
                {{ notification.created_at|naturaltime }}
            </div>
        {% endfor %}

    </div>
{% endblock content %}