{% extends "new_templates/base.html" %}
{% load staticfiles profile %}

{% block content %}

    <div class="app-view">

        <main class="app-main">

            <div class="payment-content">

                <div class="row">
                    <div class="col-12">
                        <h2>Payment</h2>
                    </div>
                    <div class="col-xs-12 col-lg-6">

                        <div class="payment-data">
                            <form action="{% url 'blank_payment_user' %}" method="POST" id="payment-form">
                                {% csrf_token %}

                                {% include "new_templates/form.html" %}

                                <div class="row">
                                    <div class="col-6">
                                        <input class="btn btn-std btn-cancel" type="button" value="Cancel">
                                    </div>
                                    <div class="col-6">
                                        <input class="btn btn-std" type="submit" value="Save Payment">
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>

                    <div class="col-xs-12 col-lg-6 mt-5 mt-lg-0">

                        <h2>Last Payments
                            {#                            | <a class="small" href="#">View More</a>#}
                        </h2>
                        {% if all_payments %}
                            <div class="table-head">

                                <span>Payer</span>
                                <span>Recipient</span>
                                <span>Date / Time</span>
                                <span>Amount</span>

                            </div>
                            {% for each_all in all_payments %}
                                <div class="table-row"
                                     data-toggle="tooltip" data-placement="top"
                                     data-html="true"
                                     {% if each_all.item.payment.memo %}
                                     title="&lt;span class='tip-balloon'&gt;{{ each_all.item.payment.memo }}&lt;/span&gt;"
                                     {% endif %}>
                                    <div class="transaction">
                                        <div class="avatar-wrapper blue">
                                            <a href="{{ each_all.item.payer.get_absolute_url }}">
                                                <img src="{% profile_image_url each_all.item.payer '60x60' %}"
                                                     alt="photo">
                                            </a>
                                        </div>
                                        <img style="padding: 0 0.5em;"
                                             src="{% static 'new_template/res/img/icons/arrow-right.png' %}" alt="to">
                                        <div class="avatar-wrapper blue">
                                            <a href="{{ each_all.item.recipient.get_absolute_url }}">
                                                <img src="{% profile_image_url each_all.item.recipient '60x60' %}"
                                                     alt="photo"
                                                     data-toggle="tooltip" data-placement="right"
                                                     data-html="true"
                                                     title="&lt;span class='tip-balloon'&gt;{{ each_all.item.recipient.username }}&lt;/span&gt;"
                                                >
                                            </a>
                                        </div>
                                    </div>

                                    <span class="datetime">{{ each_all.item.date }}<span class="small">PM</span></span>

                                    <span class="amount"><strong><span class="price">{{ each_all.item.amount }}</span> V.H.</strong></span>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

            </div>

        </main>
        <!-- .app-main -->

    </div>

{% endblock content %}

{% block extra_js %}

    <script src="{% static 'assets/typeahead.js/typeahead.jquery.min.js' %}"></script>
    <script src="{% static 'assets/typeahead.js/bloodhound.min.js' %}"></script>

    <script>
        var recipients = new Bloodhound({
            datumTokenizer: function (datum) {
                return Bloodhound.tokenizers.whitespace(datum.value);
            },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                wildcard: '%QUERY',
                url: "{% url 'get_recipients_data' %}?query=%QUERY",
                transform: function (response) {
                    return $.map(response.result, function (recipient) {
                        $('#id_recipient').attr("data-profile-selected", recipient.username);
                        return {
                            value: recipient.username,
                            suggest: recipient
                        };
                    });
                }
            }

        });
        $('#id_recipient').typeahead({
                hint: true,
                highlight: true,
                minLength: 0
            },
            {
                display: 'value',
                source: recipients,
                limit: 20,
                templates: {
                    suggestion: function (data) {
                        return "<div><strong>" + data.suggest.name + "</strong> &nbsp" + data.suggest.username + "</div>"
                    }
                }
            });
        var max_amount_span = $("#max-amount");
        $(".receiver-box #id_recipient").on('typeahead:change typeahead:selected', function (e) {
            var selectedUser;

            if (e.type === 'typeahead:selected') {
                selectedUser = $("#id_recipient").val();
                $("#id_recipient").attr("data-profile-selected", selectedUser)
            } else {
                selectedUser = $("#id_recipient").attr("data-profile-selected");
            }

            if (!$("#id_recipient").attr("data-profile-selected")) return;
            $.ajax({
                url: '/get_user_photo/' + selectedUser,
                type: 'POST',
                beforeSend: function (xhr) {
                    $('#spin-modal').fadeIn();
                    var csrftoken = $(document).find("input[name='csrfmiddlewaretoken']").val();
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (e) {
                    if (e['data']['has_trust']) {
                        $("#id_weight").val(e['data']['credit_limit']);
                        $("#id_text").val(e['data']['text']);
                    }

                    $('.transaction#div-transaction-photos').attr('hidden', false);

                    $('.receiver-box .recipient-link').attr('href', '/profiles/' + selectedUser);

                    $('.receiver-box #img-payee').attr("src", e['data']['profile_photo_path']);
                    $('.receiver-box #img-payee').attr("data-original-title", selectedUser);
                    if (!e['data']['can_ripple']) {
                        $(".receiver-box #payment-info-message").html('You do not have any more credit with this user. Your payment will only be able to be spent directly, with you. If this is not your intent, contact the recipient and ask them to raise your credit limit. This can be done after payment.');
                    } else if (e['data']['can_ripple']) {
                        $(".receiver-box #payment-info-message").html("You can send a trusted payment of up to " + e['data']['max_amount'] + " hour(s) or a direct payment of any amount.");
                    }

                    $('#spin-modal').fadeOut();

                },
                error: function (e) {
                    if (e.status === 500) {
                        showInternalServerError();
                        $('#spin-modal').fadeOut();
                    }
                }
            });
        });

        $("#blank-payment-form").submit(function (e) {
            debugger;
            if ($("#form-submit-checker").attr("data-submit-checker") === "true") {
                $("#form-submit-checker").attr("data-submit-checker", false);
            } else {
                e.preventDefault();
                debugger;
                var modal = $('#referralModal');
                if ($("#id_recipient").val() == '') {
                    modal.find('.modal-body').html('Recipient is invalid');
                    modal.modal();
                }
                if ($("#id_amount").val() == '') {
                    modal.find('.modal-body').html('Amount cannot be 0. Please verify');
                    modal.find('.modal-footer').html('<button type="button" class="btn btn-secondary" id="not-refer" data-dismiss="modal"><i class="fa fa-arrow-left"></i>Close</button>');
                    modal.modal();
                }
                else {
                    if ($("#boolean-referral").attr("data-referral") === "true") {
                        $("#form-submit-checker").attr("data-submit-checker", true);
                        $("#blank-payment-form").submit();
                    } else {
                        modal.modal();
                    }
                }
            }
        });

        $("#save-payment").click(function (e) {
            debugger;
            var profile = $('#id_recipient').val();
            $("#id_recipient").val(profile);
            var url = '/pay/' + profile;
            $.ajax({
                url: url,
                type: 'POST',
                data: $("#blank-payment-form").serialize(),
                beforeSend: function (xhr) {
                    var csrftoken = $(document).find("input[name='csrfmiddlewaretoken']").val();
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (data) {
                    if (data['referral'] === true) {

                    } else {
                        showSuccessMessage('Payment sent')
                    }
                },
                error: function (data) {
                    console.log(data);
                    showFormErrors(data['responseJSON']['errors'])
                }
            });
        });

        $("#saveReferral").click(function () {
            var profile = $('#id_recipient').val();
            $.ajax({
                url: "{% url 'referral_on_payment' %}",
                data: JSON.stringify({'profile': profile}),
                contentType: "application/json; charset=utf-8",
                method: 'POST',
                success: function () {
                    $("#form-submit-checker").attr("data-submit-checker", true);
                    $("#blank-payment-form").submit();
                }
            })
        });

        $("#not-refer").click(function (e) {
            $("#form-submit-checker").attr("data-submit-checker", true);
            $("#blank-payment-form").submit();
        });

        $("#table-filter-all").click(function (e) {
            $("#table-payments-all").removeClass("hidden");
            $("#table-made-payments").addClass("hidden");
            $("#table-received-payments").addClass("hidden");
        });

        $("#table-filter-sent").click(function (e) {
            $("#table-payments-all").addClass("hidden");
            $("#table-made-payments").removeClass("hidden");
            $("#table-received-payments").addClass("hidden");
        });


        $("#table-filter-received").click(function (e) {
            $("#table-payments-all").addClass("hidden");
            $("#table-made-payments").addClass("hidden");
            $("#table-received-payments").removeClass("hidden");
        })
    </script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

{% endblock extra_js %}