{% load static %}

<div class="post-image">
    <p class="size-recommend">Your image size shouldn't exсeed 10MB.</p>
    <div class="input-block">
        {% if widget.value %}<img class="image-preview" src="{{ widget.value.url }}" alt="photo">{% endif %}
        <div class="upload-error"></div>
        <img class="camera-icon" src="{% static 'new_template/res/img/icons/camera.png' %}" alt="photo">
        <p class="browse-title">browse</p>
        <input type="file" class="image-input">
    </div>
</div>
<p class="action-call"></p>
