{% extends 'new_templates/base.html' %}


{% block content %}
    <!-- App page content -->
    <div class="trust-data register-form">
        <form id="trust-form" role="form" action="" method="post">
            {% csrf_token %}

            <a class="btn btn-primary fb-reg-btn" href="{% url 'social:begin' 'facebook' %}?next=/settings/"><i
                    class="fa fa-facebook-official">&nbsp; Register with facebook</i></a>

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.label }}"
                           {% if field.errors %}class="error"{% endif %}>{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-warning message">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="row" style="max-width: 600px;">
                <div class="col-sm-6">
                    <input class="btn btn-std btn-cancel" type="button" value="Cancel"
                           onclick="window.location='/'">
                </div>
                <div class="col-sm-6">
                    <input class="btn btn-std" id="save-trust" type="submit" value="Submit">
                </div>
            </div>
            {% if not form.is_valid %}
                <script>
                    setTimeout(function () {
                        $('.message').slideUp("fast");
                    }, 4000);
                </script>
            {% endif %}
        </form>
    </div>
{% endblock content %}
