{% extends "new_templates/base.html" %}
{% load staticfiles profile %}

{% block content %}


    <div class="app-view">

        <main class="app-main">

            <div class="trust-content">

                <div class="row">
                    <div class="col-12">
                        <h2>Trust</h2>
                        <p>Let your friends know that you trust a promise from them and they can use their credit with
                            your network.</p>
                    </div>
                    <div class="col-xs-12 col-lg-6">
                        <div class="trust-data">
                            <form id="trust-form" action="{% url 'blank_trust_user' %}" method="POST">
                                {% csrf_token %}
                                <div class="receiver-box" id="div-recipient-name">
                                    <h4 class="mt-1">Choose Trust Receiver</h4>
                                    {{ form.recipient_name }}
                                    <h4></h4>
                                </div>
                                <div class="receiver">
                                    <div class="receiver-box" id="div-profile-photo" hidden>
                                        <div id="div-profile-image"
                                             class="d-flex justify-content-start align-items-center">
                                            <div class="avatar-wrapper blue big mr-3">
                                                <a class="recipient-link" href="#">
                                                    <img id="profile-image"
                                                         src="{% static 'new_template/res/img/people/mikail.png' %}"
                                                         alt="photo"
                                                         class="rounded-circle">
                                                </a>
                                            </div>
                                            <span id="name-profile-image"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="credit-limit">
                                    <h4>Credit Limit</h4>
                                    <div class="d-flex">
                                        {{ form.weight }}
                                        {#                      <input type="number" name="rate" id="rate" placeholder="2.00">#}
                                        <span class="currency-wrapper">V.H.</span>
                                    </div>
                                </div>

                                <div class="testimonial">
                                    <h4>Testimonial</h4>
                                    {{ form.text }}
                                    {#                    <textarea name="testimonial" id="testimonial" cols="30" rows="10"></textarea>#}
                                </div>

                                <div class="reference">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <label class="switch mr-3 mb-0">
                                            {{ form.referral }}
                                            <span class="slider round"></span>
                                        </label>
                                        <p style="margin-bottom: 0;">Refer This Person's Services to Friends?</p>
                                    </div>
                                    <p class="note">(Only refer a person if you have actually worked with them)</p>
                                </div>

                                <div class="row" style="max-width: 600px;">
                                    <div class="col-6">
                                        <input class="btn btn-std btn-cancel" type="button" value="Cancel">
                                    </div>
                                    <div class="col-6">
                                        <input class="btn btn-std" id="save-trust" type="submit" value="Save Trust">
                                    </div>
                                </div>
                                {{ form.data_profile }}
                            </form>
                        </div>

                    </div>

                    <div class="col-xs-12 col-lg-6 mt-5 mt-lg-0">

                        <h2>Transaction Info |
                            <a class="small" href="#">View More</a>
                        </h2>

                        <div class="table-head">

                            <span>Name</span>
                            <span>Payments from You</span>
                            <span>Trust from You</span>

                        </div>
                        {% for account in accounts %}
                            <div class="table-row">
                                <div class="avatar-wrapper blue">
                                    <a href="{{ account.partner.get_absolute_url }}">
                                        <img src="{% profile_image_url account.partner '60x60' %}"
                                             data-toggle="tooltip" data-placement="right"
                                             data-html="true"
                                             title="&lt;span class='tip-balloon'&gt;{{ account.partner.username }}&lt;/span&gt;"
                                        >
                                    </a>
                                </div>
                                <span>{{ account.partner }}</span>

                                <span class="payments">{{ account.owed_to_you|default_if_none:"" }}</span>

                                <span class="amount">
                    {% if account.endorsement %}
                        <span class="price">{{ account.in_limit }} V.H.</span>
                    {% elif account.partner %}
                        <span class="price">0</span> V.H.</span>
                    {% endif %}
                            </div>
                        {% endfor %}

                    </div>

                </div>

            </div>

        </main>
        <!-- .app-main -->

    </div>
{% endblock content %}

{% block extra_js %}

    <script src="{% static 'assets/typeahead.js/typeahead.jquery.min.js' %}"></script>
    <script src="{% static 'assets/typeahead.js/bloodhound.min.js' %}"></script>

    <script>
        var recipients = new Bloodhound({
            datumTokenizer: function (datum) {
                return Bloodhound.tokenizers.whitespace(datum.value);
            },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                wildcard: '%QUERY',
                url: "{% url 'get_recipients_data' %}?query=%QUERY",
                transform: function (response) {
                    return $.map(response.result, function (recipient) {
                        $('#id_recipient_name').attr("data-profile-selected", recipient.username);
                        return {
                            value: recipient.username,
                            suggest: recipient
                        };
                    });
                }
            }

        });
        $('#id_recipient_name').typeahead({
                hint: true,
                highlight: true,
                minLength: 0
            },
            {
                display: 'value',
                source: recipients,
                limit: 20,
                templates: {
                    suggestion: function (data) {
                        return "<div><strong>" + data.suggest.name + "</strong> &nbsp" + data.suggest.username + "</div>"
                    }
                }
            });


        $("#id_recipient_name").bind('typeahead:change typeahead:selected', function (e) {

            var selectedUser;

            if (e.type === 'typeahead:selected') {
                selectedUser = $("#id_recipient_name").val();
                $("#id_recipient_name").attr("data-profile-selected", selectedUser)
            } else {
                selectedUser = $("#id_recipient_name").attr("data-profile-selected");
            }

            if (!$("#id_recipient_name").attr("data-profile-selected")) return;

            $.ajax({
                url: '/get_user_photo/' + selectedUser,
                type: 'POST',
                data: {'profile_username': selectedUser},
                beforeSend: function (xhr) {
                    $('#spin-modal').fadeIn();
                    var csrftoken = $(document).find("input[name='csrfmiddlewaretoken']").val();
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                success: function (e) {

                    $("#id_weight").val('');
                    $("#id_text").val('');
                    $("#id_referral").prop('checked', false);

                    if (e['data']['error']) {
                        $('#error-modal-alert').text(e["data"]["error_message"]);
                        $('#spin-modal').fadeOut();
                        $('#error-modal').modal("show");
                        location.reload();
                    }
                    if (e['data']['has_trust']) {
                        $("#id_weight").val(e['data']['credit_limit']);
                        $("#id_text").val(e['data']['text']);
                        if (e['data']['refer']) {
                            $("#id_referral").prop('checked', true);
                        }
                    }
                    $('#div-profile-photo').attr("hidden", false);
                    $('#div-profile-image .recipient-link').attr('href', '/profiles/' + selectedUser);
                    $('#profile-image').attr("src", e['data']['profile_photo_path']);
                    $('#name-profile-image').text(e['data']['recipient']);
                    $('#spin-modal').fadeOut();
                },
                error: function (e) {
                    if (e.status === 500) {
                        showInternalServerError();
                        $('#spin-modal').fadeOut();
                    }
                }
            });
        });
    </script>


{% endblock extra_js %}