<div class="reference">
    <div class="d-flex justify-content-start align-items-center">
        <label class="switch mr-3 mb-0">
            <input id="{{ widget.attrs.id }}" name="{{ widget.name }}" type="checkbox" {% if widget.value %}checked{% endif %}>
            <span class="slider round"></span>
        </label>
        {% if widget.attrs.label_text %}<p>{{ widget.attrs.label_text }}</p>{% endif %}
    </div>
    {% if widget.attrs.help_text %}<p class="note">{{ widget.attrs.help_text }}</p>{% endif %}
</div>
