
/*=============================================================
    Authour URI: www.binarycart.com
    Version: 1.1
    License: MIT

    http://opensource.org/licenses/MIT
    100% To use For Personal And Commercial Use.

  ==========================================+++++==============  */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto');

/*==============================================
    GENERAL STYLES
  ==============================+===============*/
    html, body {
        font-family: 'Open Sans', sans-serif;
        /*font-family: 'Roboto', sans-serif;*/
        font-weight: 400;
        width: 100%;
        overflow: auto;
        font-size: 13px;
    }
    .header{
        /*background-color: #0868c2;*/
        background-color: #095f98;
        color: white;
        padding: 10px 0;
        height:55px;
        box-shadow: 0px 1px 3px #2C3E50;
        z-index: 100;
        position: fixed;
    }
    .header div a,
    .header div a:hover
    .header div a:focus{
        color: white;
        text-decoration: none;
        margin-top: 10px;
    }
    .header div a strong{
        font-size: large;
    }
    #img-logo{
        width:35px;
    }
    .psafe-security{
        margin-top: 3px;
    }
    #wrapper{
        background-image: linear-gradient(to left, rgb(255,255,255) 83.333333%, rgb(44,62,80) 16.666667%);
        width: 100%;
        margin-top: 55px;
        padding: 0;
        box-sizing: content-box;
    }
    #page-wrapper{
        min-height: 850px;
        overflow: hidden;
    }
    .page-header {
        border-bottom: solid 1px #E0E4E8;
        margin: 40px 0 20px;
    }
    .page-header h2 {
        margin: 8px 0;
        font-size: 28px;
    }
    .page-header h2 i{
        margin-right: 20px;
    }
    .alert{
        margin-bottom: 0;
    }
    .div-accounts a{
        color: white;
        text-decoration: none;
        font-weight: 400;
    }
    .icon-accounts{
        text-align: left;
        margin-top: 5px;
        margin-right: 30px;
        font-size: 25px;
        color: white;
    }
    .user-logged{
        text-align: left;
        vertical-align: 4px;
        position: relative;
        right: 10%;
        cursor: pointer;
        font-size: 13px;
    }
    .div-nav-accounts{
        z-index: 100;
        height: 85px;
        width: 170px;
        position: fixed;
        right: 2.3%;
        top: 57px;
        background-color: #2C3E50;
        border: inset 1px white;
        box-shadow: 0 0 1px 1px rgba(44,62,80,0.3);
    }
    .nav-accounts{
        list-style-type: none;
        padding: 0;
    }
    .nav-accounts li{
        padding: 9px;
        border-top: solid 1px #3C4F5E;
    }
    .nav-accounts li:hover{
        background-color: #202d3a;
    }
    .menu-accounts,
    .menu-accounts:hover,
    .menu-accounts:focus{
        color: white;
        text-decoration: none;
    }
    .cursor{
        cursor: pointer;
    }


/*==============================================
    MENU STYLES
  ==============================+===============*/
    .nav-menu{
        padding: 0;
    }
    #main-menu li a{
        color: white;
        padding: 13px 0;
    }
    #main-menu li a:hover,
    #main-menu li a:focus{
        text-decoration: none;
        background-color: #202d3a;
    }
    .icon-menu{
        text-align: left;
        margin-right: 20px;
        padding-left: 25px;
        font-size: 20px;
        color: #8dcee2;
    }
    .principal{
        font-weight: 700;
        font-size: 14px;
        border-top: solid 1px #3C4F5E;
    }
    .submenu{
        padding-left: 50px;
    }
    .nav-second-level > li > a:before ,
    .nav-third-level > li > a:before {
        content:"";
        display:block;
        position:absolute;
        left:20px;
        width:15px;
        height:1px;
        background: #83c0d4;
        top:20px;
    }
    .nav-second-level > li > a:after,
    .nav-third-level > li > a:after {
        content:"";
        display:block;
        position:absolute;
        left:20px;
        width:1px;
        height:100%;
        background:#83c0d4;
        top:0px;
        z-index:10;
    }
    .nav-second-level  > li:last-child > a:after,
    .nav-third-level  > li:last-child > a:after {
        height:50%;
    }

/*==============================================
    Home STYLES
  ==============================+===============*/
    .alert-success,
    .alert-danger{
        height: 46px;
    }
    .alert{
        padding: 9px;
    }
    .alert-plus,
    .alert-error{
        padding-top: 4px;
        font-size: 13px;
    }
    .nav-pills li a{
        border-radius: 8px 8px 0 0;
        font-weight: 700;
    }
    .nav-home-active,
    .nav-pills li a:hover,
    .nav-pills li a:focus{
        color: white;
        background-color: #E97C4A;
        transition: background-color 0.5s;
    }
    .content-home{
        border: solid 1px #b1b1b1;
        border-radius: 0 0 8px 8px;
        height: 200px;
    }

/*==============================================
    DASHBOARD STYLES
  ==============================+===============*/
    .space-top{
        margin-top: 20px;
    }
    .space-bottom{
        margin-bottom: 20px;
    }
    .bg-color-green {
        /*background-color: #00BCA4;*/
        background-color: #18bc9c;
        color: #fff;
    }
    .bg-color-red {
        background-color: #e74c3c;
        color: #fff;
    }
    .back-footer-green {
        background-color: #128f76;
        border-top: 0px solid #fff;
    }
    .back-footer-red {
        background-color: #cd2a19;
        border-top: 0px solid #fff;
    }

/*==============================================
    SIGN IN STYLES
  ==============================+===============*/

    .access{
        width: 400px;
        min-height: 350px;
        padding: 2px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 0 3px 2px rgba(44,62,80,0.2);
        border-radius: 0;
    }
    #login, #register{
        padding: 0;
    }
    .nav li a h4{
        padding: 13px 0;
        margin: 0;
    }
    .margin-right{
        margin-right: 20px;
    }
    .label-input{
        text-align: right;
        padding-right: 10px;
        font-weight: 300;
    }
    .form-input{
        width: 395px;
        margin: 22px 0;
    }
    #div-sign_in{
        margin-top: 50px;
    }
    #div-button{
        padding-right: 2px;
    }
    .button-access{
        width: 179px;
        color: white;
        font-weight: 700;
    }
    #remove{
        padding-top: 5px;
    }

/*==============================================
    SETTINGS STYLES
  ==============================+===============*/
     #change-password{
        border: solid 1px rgba(9,95,152,0.2);
        padding: 0;
    }
    .div-data-input{
        vertical-align: middle;
        padding-top: 10px;
    }
    .button-change-password{
        padding-top: 10px;
    }
    .panel-password{
        color: white;
        /*background-color: #9A59B7;*/
        background-color: #3498db;
        cursor: pointer;
    }
    .panel-password h4{
        margin: 10px 0;
    }

/*==============================================
    Submit APK STYLES
  ==============================================*/

    #section-submit-apk{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 0 3px 2px rgba(44,62,80,0.2);
        border-radius: 0;
        padding: 10px;
    }

/*==============================================
    URL AND APK SERVICE-SEARCH STYLES
  ==============================================*/
    .div-query{
        margin: 0;
        padding: 0;
    }
    .div-input{
        padding: 0;
    }
    .label-input p{
        padding: 6px 0px;
        font-size: 13px;
        margin: 0;
        text-align: right;
    }
    #id_query,
    #id_search,
    #id_url_regex,
    #id_classification,
    #description,
    #input-arquivo,
    #url{
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 13px;
        line-height: 1.42857143;
        background-color: #fff;
        background-image: none;
        border: 1px solid #a1a1a1;
        color: #5a5a5a;
        box-shadow: none;
        border-radius: 0;
    }
    #description,
    #url{
        height: 150px;
    }
    .button-Go{
        padding: 7px 12px;
        font-size: 13px;
        text-align: center;
        cursor: pointer;
        border: 1px solid transparent;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

    }
    .div-table{
        margin-top: 35px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .div-table table tbody tr{
        width: 100%;
    }
    .div-table table thead tr th,
    .div-table table tbody tr td{
        padding: 0;
        border-bottom: solid 1px rgba(24,188,156,0.5);
    }
    .div-table table tbody tr td:hover{
        background-color: rgba(24,188,156,.15);
        transition: background-color 0.3s;
    }

/*==============================================
    URL AND APK SERVICE-SEARCH RESULT STYLES
  ==============================================*/
    .section{
        margin-bottom: 20px;
        font-size: 13px;
    }
    .panel{
        border-radius: 0;
    }
    .panel-heading{
        border-radius: 0;
        padding: 7px 12px;
    }
    .list-info,
    .hash_value_indicator{
        cursor: pointer;
    }
    .panel-heading-content{
        padding: 7px 12px;
        border: solid 1px rgba(44,62,80,0.3);
    }
    .panel-heading-content span{
        color: red;
    }
    .title-content{
        font-size: 13px;
        cursor: pointer;
    }
    .section a:hover,
    .section a:focus,
    .section .btn-link:hover{
        color: #128f76;
    }
    .panel-heading-content p{
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
    }
    #positive{
        padding-right: 1px;
        margin-right: 29px;
    }
    #download-apk-content i{
        font-size: 20px;
        margin-left: 10px;
    }
    .download-content{
        padding: 6px 1px;
    }
    .general-value{
        overflow-x: auto;
        white-space: nowrap;
    }

/*===============================================
  SUBMIT URL STYLES
  ===============================================*/
    .section-submit{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 50px;
    }

/*===============================================
  URL REGEX - MANAGE / LIST / ADD / EDIT STYLES
  ===============================================*/

    .section-regex{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 50px;
    }
    .search-regex{
        margin-top: 4px;
    }
    .table-manage{
        width: 100%;
        font-size: 13px;
        border: 1px solid #b9b9b9;
        border-collapse: separate;
    }
    .table-manage thead tr th{
        padding: 7px 13px;
        background-color: #3498db;
        color: white;
        font-weight: 700;
        text-align: center;
    }
    .table-manage tbody tr:nth-child(even){
        background-color: rgba(24, 188, 156, 0.15);
    }
    .table-manage tbody tr:hover{
        background-color: rgba(44,62,80,0.18);
        transition: background-color 0.5s;
    }
    .table-manage tbody tr td{
        border-top: 1px solid #b9b9b9;
        border-right: 1px solid #b9b9b9;
        padding: 7px 13px;
        max-width: 610px;
        white-space: nowrap;
        overflow: hidden;
    }
    .table-manage tbody tr td a,
    .table-manage tbody tr td a:hover{
        color: #095f98;
        text-decoration: none;
        font-weight: 700;
    }
    .table-manage tbody tr td:last-child{
        border-right: 0px;
    }
    .icon-success{
        color: #18bc9c;
    }
    .icon-danger{
        color: #e74c3c;
    }
    #id_ignore_log,
    #id_ignore_database{
        width: 23px;
        height: 23px;
    }
    .page-header h2 a:hover,
    .page-header h2 a:focus{
        text-decoration: none;
    }
    #spin-modal i {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .fa-refresh {
        color: #4ed1ff;
    }