{% extends 'base.html' %}

{% block content %}

<!-- App page content -->
<section class="container con-padding-top con-max-width">
  <div class="row">
    <div class="col-md-12">
    {{ form.non_field_errors }}
{#      {% if messages %}#}
{#          {% for message in messages %}#}
{#              {{ message }}#}
{#          {% endfor %}#}
{#      {% endif %}#}
      <form class="form" action="." method="post">{% csrf_token %}
        <div class="form-group">
          <label for="inputUsername">Username</label>
            {{ form.username.errors }}
          <input type="text" class="form-control" name="username" value="">
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          {{ form.password.errors }}
          <input type="password" class="form-control" name="password" value="">
        </div>
        <input type="submit" class="btn btn-default" value="Submit">
      </form>
    </div>
  </div>
</section>

{% endblock content %}
