{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid" id="profile-container-fluid">
  <div class="jumbotron" id="profile-jumbotron">
    <h2>Raja Simon</h2>
  </div>
</div>

<section class="container-fluid" id="profile-info">
  <div class="row">
    <div class="col-md-8">
      <div class="inside-profile-info">
        <p>Owner + Janitor at Moon Machine Surfboards</p>
        <p>100% Hand shaped and glassed Surfboards here in SF/CA</p>
        <p>I would love to rent you one of my own surf craft creations or something from my vast collection.</p>
        <p>Please feel free to contact me with any questions you may have.</p>
        <a href="#">http://moonmachine.bigcartel.com/</a>
      </div>
    </div>

    <div class="col-md-4 subnav_bar" style="text-align: center;">
      <img src="/{{ request.user.profile.photo }}" alt="" height=88px width=88px class="img-circle">
      <p class="profile-star-rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </p>
      <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-warning">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default btn-success">
          <i class="fa fa-money" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default btn-danger">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid" id="profile-listing-info">
  <div class="row">
    <div class="col-md-9">
      <h3>7 open listing</h3>
      <bold><hr></bold>
      <div class="listing-image">
        <!-- Construct in the for loop -->
        {% for each in listings %}
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail image">
              <img src="{% static 'images/cover.jpg' %}" alt="...">
              <p class="thumbnail-tag">$30 / Day</p>
              <p class="thumbnail-info">9' Long Board</p>
            </div>
          </div>
        {% endfor %}

      </div>

    </div>

    <div class="col-md-3">
      <br>
      <br>
      <br>
      <br>
      <br>
      <p><a href="#"><i class="fa fa-balance-scale" aria-hidden="true"></i> - 7 Hours</a></p>
      <p><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Designer, UI</a></p>
      <p><a href="#"><i class="fa fa-home" aria-hidden="true"></i> London, UK</a></p>

      <div class="card">
        <h4>Offerings</h4>
        <span class="badge">Massage</span>
        <span class="badge">Web Design</span>
        <span class="badge">Child Care</span>
        <span class="badge">Off Grid</span>
      </div>
      <div class="card">
        <h4>Requests</h4>
        <span class="badge">Massage</span>
        <span class="badge">Organic Vegan Food</span>
        <span class="badge">Help Building</span>
        <span class="badge">Kids Stuff</span>
      </div>
    </div>
  </div>
</section>

<!-- Relationship with -->
<section class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h3>My Relationship with Dave Platford</h3>
      <table class="table table-bordered table-relationship">
        <tbody>
          <tr>
            <td>Current Balance</td>
            <td>8 hours</td>
          </tr>
          <tr>
            <td>Dave platford's endorsement of you</td>
            <td>5 hours</td>
          </tr>
          <tr>
            <td>Your endorsement of Dave Platford</td>
            <td>10 hours</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- our transcation history -->
<section class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h3>Our Transaction History</h3>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>11/20/2016</td>
            <td>-6 hours</td>
            <td>Good Job painting</td>
            <td>
              <p class="profile-star-rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </p>
            </td>
          </tr>
          <tr>
            <td>11/11/2016</td>
            <td>+ 4 hours</td>
            <td></td>
            <td>
              <p class="profile-star-rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </p>
            </td>
          </tr>
          <tr>
            <td>11/9/2016</td>
            <td>+10 hours</td>
            <td></td>
            <td>
              <p class="profile-star-rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- endorsed by -->
<section class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h3>Endorsed by:</h3>
      <hr>
      <h4>2 received reviews(100% postive, 2/2)</h4>
      <hr>
      <div class="Media">
        <img class="Media-figure" src="https://randomuser.me/api/portraits/thumb/men/83.jpg" alt="">
        <p class="Media-body">Everything went well</p>
      </div>
      <hr>
      <div class="Media">
        <img class="Media-figure" src="https://randomuser.me/api/portraits/thumb/men/83.jpg" alt="">
        <p class="Media-body">Everything went well</p>
      </div>
      <hr>
    </div>

  </div>
</section>
{% endblock content %}
