{% extends 'base.html' %}
{% load i18n %}

<style>
    #messages span {
        margin: 0 25px 0 15px;
    }
    #messages i {
        margin-right: 25px;
    }
</style>

{% block content %}
    <main class="app-main">

        <div class="trust-content">

            <div class="row">
                <div class="col-12 col-xxl-8">

                    <h2>Login</h2>
                    <p>Please autheticate to proceed</p>

                    <div class="trust-data">
                        <form id="trust-form" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="receiver-box" id="div-recipient-name">
                                <h4 class="mt-1">Username</h4>
                                {% if form.username.errors %}
                                    <label for="{{ field.label }}" class="error">{{ field.label }}</label>
                                    {{ form.username }}
                                {% else %}
                                    {{ form.username }}
                                {% endif %}
                            </div>
                            <div class="receiver-box" id="div-recipient-name">
                                <h4 class="mt-1">Password</h4>
                                {% if form.password.errors %}
                                    <label for="{{ form.password.label }}" class="error">{{ form.password.label }}</label>
                                    {{ form.password }}
                                {% else %}
                                    {{ form.password }}
                                {% endif %}
                            </div>
                            <h4></h4>
                            <div class="row" style="max-width: 600px;">
                                <div class="col-3">
                                    <input class="btn btn-std" id="save-trust" type="submit" value="Submit">
                                </div>
                                <div class="col-3">
                                    <input class="btn btn-std btn-cancel" id="save-trust" type="button" value="Cancel"
                                    onclick="window.location='/'">
                                </div>
                                <div class="col-3">
                                    <a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}?next={{ next_url }}"><i class="fa fa-facebook-official">&nbsp; Login with facebook</i></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}

<script>
    setInterval(function () {
        $('.alert').fadeOut("medium");
    }, 3000);

</script>

