{% extends 'base.html' %}


{% block content %}
    <!-- App page content -->
    <div class="trust-data">
        <form id="trust-form" role="form" action="" method="post">
            {% csrf_token %}

            <a class="btn btn-primary" href="{% url 'social:begin' 'facebook' %}?next=/settings/"><i class="fa fa-facebook-official">&nbsp; Register with facebook</i></a>

            {% for field in form %}
                {% if field.errors %}
                    <div class="form-group">
                        <label for="{{ field.label }}" class="error">{{ field.label }}</label>
                        {{ field }}
                        <div class="alert alert-warning message">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endif %}
            {% endfor %}

            <div class="row" style="max-width: 600px;">
                <div class="col-3">
                    <input class="btn btn-std" id="save-trust" type="submit" value="Submit">
                </div>
                <div class="col-3">
                    <input class="btn btn-std btn-cancel" id="save-trust" type="button" value="Cancel"
                           onclick="window.location='/'">
                </div>
            </div>
            {% if not form.is_valid %}
                <script>
                    setTimeout(function () {
                        $('.message').slideUp("fast");
                    }, 4000);
                </script>
            {% endif %}
        </form>
    </div>
{% endblock content %}
