/* forms */
form.form-container {
  @include make-container;
  padding: 0 0 10px;
  border-bottom: 1px solid #ebebeb;
  & div[class*="col"] {
    padding-bottom: 28px;
  }
}

input,
select,
textarea,
.btn-input-layout {
  padding: 0.5em 0.75em;
  width: 100%;
  font-size: 1em;
  font-weight: 300;
  color: #8d8d8d;
  background-color: #fff;
  border: none;
  @include crossTransition(all .3s);
}

input[type="submit"] {
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  background-color: #1d90b5;
  @include crossTransition(background-color .3s);
  &:hover,
  &:focus {
    background-color: darken(#1d90b5, 10%);
  }
}

.custom-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  height: 100%;
}

label.custom-radio,
label.custom-check {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  & .btn-input-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 300;
    color: #8d8d8d;
    background-color: #fff;
    height: 100%;
    @include crossTransition(all .3s);
    & .btn-input-icon {
      margin-right: 0.25em;
      &.checkbox {
        width: 13px;
        height: 13px;
        border: 1px solid #9f9f9f;
        @include crossBorder(2px);
        & svg {
          display: none;
        }
      }
    }
    & .btn-input-text {

    }
    &:hover,
    &:focus {
      background-color: darken(#fff, 10%);
    }
  }
  & input[type="radio"],
  & input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  & input[type="checkbox"]:checked ~ .btn-input-layout,
  & input[type="radio"]:checked ~ .btn-input-layout {
    color: #fff;
    background-color: #1d90b5;
    & .btn-input-icon {
      &.checkbox {
        position: relative;
        border-color: #fff;
        & svg {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          fill: #fff;
        }
      }
    }
  }
}

div.textbox-with-icon {
  position: relative;
  font-size: 1.375em;
  @include media-width-down(sm) {
    font-size: 1em;
  }
  & .textbox-icon {
    position: absolute;
    top: 50%;
    right: 0.75em;
    @include crossTransform(translateY(-50%));
  }
}

#search-form {
  & input[type="submit"] {
    height: 100%;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider,
.reference .slider {
  position: absolute !important;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
