/* forms */
form.form-container {
  @include make-container;
  padding: 0 0 10px;
  border-bottom: 1px solid #ebebeb;
  & div[class*="col"] {
    padding-bottom: 28px;
  }
}

input,
select,
textarea,
.btn-input-layout {
  padding: 0.5em 0.75em;
  width: 100%;
  font-size: 1em;
  font-weight: 300;
  color: #8d8d8d;
  background-color: #fff;
  border: none;
  @include crossTransition(all .3s);
}

input[type="submit"] {
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  background-color: #1d90b5;
  @include crossTransition(background-color .3s);
  &:hover,
  &:focus {
    background-color: darken(#1d90b5, 10%);
  }
}

.custom-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  height: 100%;
}

.id_recipient_name,
.id_weight,
.id_text {
  .form-group:first-child {
    margin-bottom: 5px;
  }
}
form .form-group label {
  margin-bottom: 0;
  font-size: 0.75em;
  color: #9a9a9a;
  text-transform: uppercase;
}

label.custom-radio,
label.custom-check {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  & .btn-input-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: 300;
    color: #8d8d8d;
    background-color: #fff;
    height: 100%;
    @include crossTransition(all .3s);
    & .btn-input-icon {
      margin-right: 0.25em;
      &.checkbox {
        width: 13px;
        height: 13px;
        border: 1px solid #9f9f9f;
        @include crossBorder(2px);
        & svg {
          display: none;
        }
      }
    }
    & .btn-input-text {

    }
    &:hover,
    &:focus {
      background-color: darken(#fff, 10%);
    }
  }
  & input[type="radio"],
  & input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  & input[type="checkbox"]:checked ~ .btn-input-layout,
  & input[type="radio"]:checked ~ .btn-input-layout {
    color: #fff;
    background-color: #1d90b5;
    & .btn-input-icon {
      &.checkbox {
        position: relative;
        border-color: #fff;
        & svg {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          fill: #fff;
        }
      }
    }
  }
}

div.textbox-with-icon {
  position: relative;
  font-size: 1.375em;
  @include media-width-down(sm) {
    font-size: 1em;
  }
  & .textbox-icon {
    position: absolute;
    top: 50%;
    right: 0.75em;
    @include crossTransform(translateY(-50%));
  }
}

#search-form {
  & input[type="submit"] {
    height: 100%;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider,
.reference .slider {
  position: absolute !important;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.reference p {
  margin-bottom: 0;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// Autoselect Typehead
.twitter-typeahead {
  max-width: 100%;
  display: block !important;
  .tt-menu {
    max-height: 150px;
    width: 100%;
    overflow-y: auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    box-shadow: 0 5px 5px #ddd;
    .tt-dataset {
      padding: 10px 0;
      .tt-suggestion {
        padding-left: 10px;
        cursor: pointer;
        &:hover {
          background-color: #ddd;
        }
      }
    }
  }
}

// Add Post Form wrapper
.form-content {
  margin-top: 40px;
  .form-title {
    font-size: 18px;
    color: $lightblue;
    text-transform: uppercase;
    @include media-width-up(sm) {
      font-size: 24px;
    }
  }
  label {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    color: $lightgrey;
    font-size: 18px;
  }
  .btn-save {
    padding: 15px;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    background-color: $lightblue;
    cursor: pointer;
    border-radius: 0;
    @include crossTransition(background-color .3s);
    &:hover,
    &:focus {
      background-color: darken($lightblue, 10%);
    }
  }
}


// Input photo
.post-image {
  .size-recommend {
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 6px;
    color: #fff;
    background-color: #9abdf3;
  }
  .input-block{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 3px dashed #8d9aa6;
    border-radius: 10px;
    @media screen and (min-width: 700px){
      width: 400px;
      height: 200px;
    }
    .upload-error {
      position: absolute;
      top: 0;
      width: 100%;
      max-height: 80px;
      padding: 10px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      background-color: $red;
      opacity: 0;
      z-index: 3;
    }
    .image-preview {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.3;
      z-index: 2;
    }
    .camera-icon {
      position: absolute;
      top: 80px;
      left: 50%;
      margin-left: -30px;
      z-index: 3;
    }
    .browse-title {
      position: absolute;
      top: 130px;
      left: 50%;
      margin-left: -29px;
      color: #8d9aa6;
      z-index: 3;
    }
    .image-input {
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background-color: transparent;
      z-index: 4;
    }
  }
}

// Delete Post
.confirm-block {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  @include media-width-up(sm) {
    padding: 40px;
  }
  .form-title {
    font-size: 18px;
    color: $lightblue;
    @include media-width-up(sm) {
      font-size: 24px;
    }
  }
  p {
    color: $lightgrey;
  }
  input {
    margin-bottom: 10px;
  }
}

// Errors
.has-errors {
  .errorlist {
    margin: 0;
    margin-top: -10px;
    padding: 0;
    list-style: none;
  }
}

.form-container.contact-form {
  padding: 40px;
  background-color: #fff;
  input,
  textarea {
    border: 1px solid #ebebeb;
  }
  .id_contact_recipient_name,
  .id_message {
    .form-group:first-child {
      margin-bottom: 0;
      label {
        margin-bottom: 5px;
      }
    }
  }
}
