{% extends "no_subnav_base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans 'About Villages' %}</h2>

<ul>
	<li><a href="{% url 'about:motivation' %}">{% trans 'Motivation' %}</a></li>
	<li><a href="{% url 'about:how_it_works' %}">{% trans 'How It Works' %}</a></li>
	<li><a href="{% url 'about:privacy' %}">{% trans 'Privacy' %}</a></li>
	<li><a href="{% url 'about:developers' %}">{% trans 'Developers' %}</a></li>
	<li><a href="{% url 'about:donate' %}">{% trans 'Donate' %}</a></li>
</ul>
{% endblock %}
