{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
            <a type="button" href="{% url 'listing_management:manage_listings' %}" class="btn btn-primary">Manage Listings</a>
            <button id="delete" class="btn btn-danger pull-right"><i class="fa fa-exclamation"></i>Delete</button>
            {% if listings %}
                <table id="table-listings" class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Listing title</th>
                            <th>Listing type</th>
                            <th>Category</th>
                            <th>Sub category</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for listing in listings %}
                    <tr>
                        <td class="pointer center td-checkbox">
                            <input id="{{ listing.id }}" type="checkbox" value="{{ listing.id }}">
                        </td>
                        <td width="20%"><a href="{% url 'listing_management:edit' listing.id %}" class="pull-left">{{ listing.title }}</a></td>
                        <td width="20%">{{ listing.listing_type }}</td>
                        <td width="20%">{{ listing.subcategories.categories.categories_text }}</td>
                        <td width="20%">{{ listing.subcategories.sub_categories_text }}</td>
                        <td width="20%">{{ listing.price }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                Sorry, we did not find any listings.
            {% endif %}
        </div>

    <script>
        $('#delete').click(function(e){
            var original_value = $(this).html();
            $(this).html('Deleting selected...');

            var values = [];
            var rows_to_remove = [];
            var table = $('#table-listings');


            table.find(':checked').each(function() {
                if ($(this).val() > 0) {
                    values.push($(this).val());
                    rows_to_remove.push($(this).parent().parent());
                }
            });

            if (values.length > 0) {
                if (confirm('Are you sure ? ')) {
                    $.ajax({
                        async: false,
                        url: '{% url 'listing_management:delete' '' %}',
                        type: 'POST',
                        data: { ids:values, csrfmiddlewaretoken:"{{ csrf_token }}" },
                        success: function (data) {
                            for (var row in rows_to_remove) {
                                rows_to_remove[row].remove();
                            }
                        },
                        error: function (resp) {
                            console.log("Error:" + resp);
                        }
                    });
                }
            } else {
                alert('Please select a listing first.')
            }

            $(this).html(original_value);
        });
    </script>
{% endblock %}