/* headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
}

.section-title {
	margin-bottom: 0.5em;
	font-size: 1.75em;
	color: #1d90b5;
	& strong {
		font-weight: 600;
	}
}

.section-subtitle {
	margin-bottom: 3em;
	font-size: 1.125em;
	color: #7d7d7d;
	max-width: 270px;
}