{% extends 'base.html' %}
{% load staticfiles profile relate i18n %}
{% load tag_utils %}

{% block content %}

    <link href="{% static 'maps/css/listing_map_style.css' %}" rel="stylesheet">

    <form id="form-map-listing" method="get">
        {% if user_agent_type == 'mobile' %}
            <div class="col-md-2">
                {% if not listing_items %}
                    {{ form.radius }}
                    <div><span><label>{{ form.trusted }}
            <img src="{% static 'img/heart_icon.png' %}"
                 alt="{% trans 'Heart icon = trusted user' %}">
                        {% trans 'Trusted only' %}</label>
        </span></div>
                {% else %}
                    {{ form_listing_settings.radius }}
                    <span><label>{{ form_listing_settings.trusted }}
            <img src="{% static 'img/heart_icon.png' %}"
                 alt="{% trans 'Heart icon = trusted user' %}">
                        {% trans 'Trusted only' %}</label>
        </span>
                {% endif %}
                <div>
                    {% if feed_items %}
                        <a href="{% url 'frontend:home' %}">
                            <img src="{% static 'img/people.png' %}" height="22" width="22">&nbsp Posts only</a>
                    {% elif listing_items %}
                        <a href="{% url 'frontend:home_people' %}">
                            <img src="{% static 'img/people.png' %}" height="22" width="22">&nbsp People only</a>
                    {% endif %}
                </div>
                <nav class="sidebar">

                    <ul>
                        <li class="menu-group" style="padding-left: 0">


                            <div id="all_categories"><i class="fa fa-globe"></i>ALL CATEGORIES</div>
                            <ul class="collapse">
                                {% for each in categories %}
                                    {% if each.categories_text == 'PRODUCTS' %}
                                        <li class="menu-group">
                                            <div><i class="fa fa-shopping-bag"></i> {{ each.categories_text }}</div>
                                            <ul>
                                                <li><a href="{% url 'frontend:home' 'PRODUCTS' %}">ALL PRODUCTS</a></li>
                                                <hr>
                                                {% for each_sub_category in item_sub_categories %}
                                                    <li><a href="" name="subcategory">{{ each_sub_category.sub_categories_text }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% elif each.categories_text == 'SERVICES' %}
                                        <li class="menu-group">
                                            <div><i class="fa fa-truck"></i> {{ each.categories_text }}</div>
                                            <ul>
                                                <li><a href="{% url 'frontend:home' 'SERVICES' %}">ALL SERVICES</a></li>
                                                <hr>
                                                {% for each_sub_category in services_sub_categories %}
                                                    <li><a href="{% url 'frontend:home' each_sub_category.id %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% elif each.categories_text == 'RIDESHARE' %}
                                        <li class="menu-group">
                                            <div><i class="fa fa-bug"></i> {{ each.categories_text }}</div>
                                            <ul>
                                                <li><a href="{% url 'frontend:home' 'RIDESHARE' %}">ALL RIDESHARE</a></li>
                                                <hr>
                                                {% for each_sub_category in rideshare_sub_categories %}
                                                    <li><a href="{% url 'frontend:home' each_sub_category.id %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% elif each.categories_text == 'HOUSING' %}
                                        <li class="menu-group">
                                            <div><i class="fa fa-home"></i> {{ each.categories_text }}</div>
                                            <ul>
                                                <li><a href="{% url 'frontend:home' 'HOUSING' %}">ALL HOUSING</a></li>
                                                <hr>
                                                {% for each_sub_category in housing_sub_categories %}
                                                    <li><a href="#">{{ each_sub_category.id }}</a>{{ each_sub_category.sub_categories_text }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>

                    </ul>
                </nav>
                <br>
            </div>
        {% else %}

            <div class="col-md-2">

                {% if not is_listing %}
                    {{ form.radius }}
                {% else %}
                    {{ form_listing_settings.radius }}
                    <div></div>
                {% endif %}

                <div>
                    <a href="{% url 'frontend:home_people' %}"><img src="{% static 'img/people.png' %}" height="22" width="22">&nbsp People list</a>
                </div>
                <hr>

                <nav class="sidebar">
                    <ul>
                        <li>
                            <div id="all_categories"><i class="fa fa-globe"></i><a href="{% url 'map_search:map' %}">ALL CATEGORIES</a></div>
                            <ul class="collapse">
                                <li></li>
                            </ul>
                        </li>
                        {% for each in categories %}
                            {% if each.categories_text == 'PRODUCTS' %}
                                <li class="menu-group">
                                    <div><i class="fa fa-shopping-bag"></i> {{ each.categories_text }}</div>
                                    <ul class="collapse">
                                        <li><a href="?category={{ each.id }}&map-price={{ min_price }},{{ max_price }}" name="category">ALL PRODUCTS</a></li>
                                        <hr>
                                        {% for each_sub_category in item_sub_categories %}
                                            <li><a href="?subcategory={{ each_sub_category.id }}&map-price={{ min_price }},{{ max_price }}" name="subcategory">{{ each_sub_category.sub_categories_text }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% elif each.categories_text == 'SERVICES' %}
                                <li class="menu-group">
                                    <div><i class="fa fa-truck"></i> {{ each.categories_text }}</div>
                                    <ul class="collapse">
                                        <li><a href="?category={{ each.id }}&map-price={{ min_price }},{{ max_price }}" name="category">ALL SERVICES</a></li>
                                        <hr>
                                        {% for each_sub_category in services_sub_categories %}
                                            <li><a href="?subcategory={{ each_sub_category.id }}&map-price={{ min_price }},{{ max_price }}" name="subcategory">{{ each_sub_category.sub_categories_text }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% elif each.categories_text == 'RIDESHARE' %}
                                <li class="menu-group">
                                    <div><i class="fa fa-bug"></i> {{ each.categories_text }}</div>
                                    <ul class="collapse">
                                        <li><a href="?category={{ each.id }}&map-price={{ min_price }},{{ max_price }}" name="category">ALL RIDESHARE</a></li>
                                        <hr>
                                        {% for each_sub_category in rideshare_sub_categories %}
                                            <li><a href="?subcategory={{ each_sub_category.id }}&map-price={{ min_price }},{{ max_price }}" name="subcategory">{{ each_sub_category.sub_categories_text }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% elif each.categories_text == 'HOUSING' %}
                                <li class="menu-group">
                                    <div><i class="fa fa-home"></i> {{ each.categories_text }}</div>
                                    <ul class="collapse">
                                        <li><a href="?category={{ each.id }}&map-price={{ min_price }},{{ max_price }}" name="category">ALL HOUSING</a></li>
                                        <hr>
                                        {% for each_sub_category in housing_sub_categories %}
                                            <li><a href="?subcategory={{ each_sub_category.id }}&map-price={{ min_price }}%2C{{ max_price }}" name="subcategory">{{ each_sub_category.sub_categories_text }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <hr>
                        <div id="filters">
                            <div class="col-12">
                                <div class="custom-filter-title">
                                    Price
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="custom-filter-options">
                                        <b>1</b> <input id="price" name="map-price" type="text" class="span2" value=""
                                                        data-slider-min="0"
                                                        data-slider-max="1000"
                                                        data-slider-step="5"
                                                        data-slider-value="[0,100]"/>
                                        <b>1000</b>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="custom-filter-options">
                                        <div class="custom-filter-checkbox-container">
                                            <label class="custom-filter-checkbox-label">
                                                <input type="checkbox" name="trusted" id="id_trusted_only" value="on">
                                                <span class="custom-filter-checkbox-label-text">Trusted only</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="custom-filter-title">
                                        Category
                                    </div>
                                    <div class="custom-filter-options">
                                        <div class="custom-filter-checkbox-container">
                                            <label class="custom-filter-checkbox-label">
                                                <input type="radio" name="category" id="id_products" value="2" class="category">
                                                <span class="custom-filter-checkbox-label-text">Products</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="custom-filter-options">
                                        <div class="custom-filter-checkbox-container">
                                            <label class="custom-filter-checkbox-label">
                                                <input type="radio" name="category" id="id_services" value="1" class="category">
                                                <span class="custom-filter-checkbox-label-text">Services</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="custom-filter-options">
                                        <div class="custom-filter-checkbox-container">
                                            <label class="custom-filter-checkbox-label">
                                                <input type="radio" name="category" id="id_rideshare" value="4" class="category">
                                                <span class="custom-filter-checkbox-label-text">Rideshare</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="custom-filter-options">
                                        <div class="custom-filter-checkbox-container">
                                            <label class="custom-filter-checkbox-label">
                                                <input type="radio" name="category" id="id_housing" value="3" class="category">
                                                <span class="custom-filter-checkbox-label-text">Housing</span>
                                            </label>
                                        </div>
                                    </div>
                                    <button id="btn_clear_cateogry" type="button" class="btn btn-primary btn-sm">clear</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="custom-filter-title">
                                        Listing Type
                                    </div>
                                    <div class="custom-filter-options">
                                        <div class="custom-filter-checkbox-container">
                                            <label class="custom-filter-checkbox-label">
                                                <input type="radio" name="listing_type" id="id_offer_type" value="offer" class="listing_type">
                                                <span class="custom-filter-checkbox-label-text">Offer</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="custom-filter-options">
                                        <div class="custom-filter-checkbox-container">
                                            <label class="custom-filter-checkbox-label">
                                                <input type="radio" name="listing_type" id="id_request_type" value="request" class="listing_type">
                                                <span class="custom-filter-checkbox-label-text">Request</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="custom-filter-options">
                                        <div class="custom-filter-checkbox-container">
                                            <label class="custom-filter-checkbox-label">
                                                <input type="radio" name="listing_type" id="id_teach_type" value="teach" class="listing_type">
                                                <span class="custom-filter-checkbox-label-text">Teach</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="custom-filter-options">
                                        <div class="custom-filter-checkbox-container">
                                            <label class="custom-filter-checkbox-label">
                                                <input type="radio" name="listing_type" id="id_learn_type" value="learn" class="listing_type">
                                                <span class="custom-filter-checkbox-label-text">Learn</span>
                                            </label>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-sm" id="btn_clear_listing">clear</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="custom-filter-title">
                                        Balance Type
                                    </div>
                                    <div class="custom-filter-options">
                                        <div class="custom-filter-checkbox-container">
                                            <label class="custom-filter-checkbox-label">
                                                <input type="radio" name="balance_type" id="id_negative_balance" value="negative" class="balance_type">
                                                <span class="custom-filter-checkbox-label-text">Negative balance</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="custom-filter-options">
                                        <div class="custom-filter-checkbox-container">
                                            <label class="custom-filter-checkbox-label">
                                                <input type="radio" name="balance_type" id="id_positive_balance" value="positive" class="balance_type">
                                                <span class="custom-filter-checkbox-label-text">Positive balance</span>
                                            </label>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-sm" id="btn_clear_balance">clear</button>
                                </div>
                            </div>
                                </div>
                            </div>
                    </ul>
                </nav>
                <br>
        {% endif %}

        <section class="container-fluid" id="home-sub-menu">
            <div class="row" style="height: 100%">
                <div class="col-md-6">
                    <ul style="padding-left: 0;">
                        <div class="form-group">
                            <div class="filters-enabled home-toolbar-button-group">
                                <a class="home-toolbar-button-group-button selected" title="Grid" href="{% url 'frontend:home' %}"><i class="ss-thumbnails icon-fix home-button-group-icon"></i>
                                    <span class="home-toolbar-button-text">Grid
                                </span>
                                </a>
                                <a class="home-toolbar-button-group-button " title="Map" href="{% url 'frontend:map' %}"><i class="ss-maplocation icon-fix home-button-group-icon"></i>
                                    <span class="home-toolbar-button-text">Map
                                </span>
                                </a>
                            </div>
                            <div class="btn-group">
                                {% if is_listing %}

                                    <select class="form-control" id="inputListingType" name="listing_type">
                                        <option selected value="">Choose a listing type</option>
                                        <option value="OFFER">OFFER</option>
                                        <option value="REQUEST">REQUEST</option>
                                        <option value="TEACH">TEACH</option>
                                        <option value="LEARN">LEARN</option>
                                    </select>

                                    </div>
                                    </div>
                                {% endif %}
                        {% if not is_listing %}
                            <div class="form-group">
                                {{ form.q }}
                            </div>
                        {% else %}
                            <div class="form-group">
                                {{ form_listing_settings.q }}
                            </div>
                        {% endif %}

                    </ul>
                    {% if item_type_name %}
                        <p style="font-size: 15px; font-weight: 600; padding-bottom: 0;
                        font-family: 'Open Sans'; color: #000;">{{ item_type_name }}</p>
                    {% endif %}
                    <hr>
                </div>

                <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQAqenEQSDy5T5KNnyXBwOc-GmvSB8TQA"></script>
                <script src="{% static 'maps/oms.min.js' %}"></script>

            {% if request.method == 'POST' %}
                <script src="{% static 'maps/search_listings_post.js' %}"></script>
            {% elif request.method == 'GET' %}
                <script src="{% static 'maps/search_listings_get.js' %}"></script>
                <script type="text/javascript">
                    var listings_locations = JSON.parse("{{ listing_locations|escapejs }}");
                </script>
            {% endif %}


                <div class="col-9" style="padding-left: 0;">
                    <div class="home-map">
                        <div id="map" class="map" style="height: 600px; position: relative; overflow: hidden"></div>
                    </div>

                    <script src="{% static 'seiyria-bootstrap-slider/dist/bootstrap-slider.min.js' %}" charset="utf-8"></script>
                    <script>

                        $(function () {
                            var trusted_only = localStorage.trusted_only === "true";
                            $("#id_trusted_only").prop('checked', trusted_only);

                            var offer_type = localStorage.offer_type === "true";
                            $("#id_offer_type").prop('checked', offer_type);

                            var request_type = localStorage.request_type === "true";
                            $("#id_request_type").prop('checked', request_type);

                            var teach_type = localStorage.teach_type === "true";
                            $("#id_teach_type").prop('checked', teach_type);

                            var learn_type = localStorage.learn_type === "true";
                            $("#id_learn_type").prop('checked', learn_type);

                            var category_products = localStorage.products === "true";
                            $("#id_products").prop('checked', category_products);

                            var category_services = localStorage.services === "true";
                            $("#id_services").prop('checked', category_services);

                            var category_rideshare = localStorage.rideshare === "true";
                            $("#id_rideshare").prop('checked', category_rideshare);

                            var category_housing = localStorage.housing === "true";
                            $("#id_housing").prop('checked', category_housing);

                            var negative_balance = localStorage.negative_balance === "true";
                            $("#id_negative_balance").prop('checked', negative_balance);

                            var positive_balance = localStorage.positive_balance === "true";
                            $("#id_positive_balance").prop('checked', positive_balance);
                        });

                        $('#btn_clear_cateogry').click(function () {
                            $("input:radio[class^='category']").each(function(i) {
                              this.checked = false;
                            });
                            $(this).closest('form').submit()
                        });

                        $('#btn_clear_listing').click(function () {
                            $("input:radio[class^='listing_type']").each(function(i) {
                              this.checked = false;
                            });
                            $(this).closest('form').submit()
                        });

                        $('#btn_clear_balance').click(function () {
                            $("input:radio[class^='balance_type']").each(function(i) {
                              this.checked = false;
                            });
                            $(this).closest('form').submit()
                        });

                        // Without JQuery
                        var priceSlider = $("#price").slider();
                        priceSlider.on('slideStop', function () {
                            $(this).closest('form').submit()
                        });

                        $("#id_trusted_only").on("change", function () {
                            localStorage.trusted_only = $(this).is(':checked');
                            $(this).closest('form').submit()
                        });

                        $("#id_offer_type").on("change", function () {
                            localStorage.offer_type = $(this).is(':checked');
                            $(this).closest('form').submit()
                        });

                        $("#id_request_type").on("change", function () {
                            localStorage.request_type = $(this).is(':checked');
                            $(this).closest('form').submit()
                        });

                        $("#id_teach_type").on("change", function () {
                            localStorage.teach_type = $(this).is(':checked');
                            $(this).closest('form').submit()
                        });

                        $("#id_learn_type").on("change", function () {
                            localStorage.learn_type = $(this).is(':checked');
                            $(this).closest('form').submit()
                        });

                        $("#id_products").on("change", function () {
                            localStorage.products = $(this).is(':checked');
                            $(this).closest('form').submit();
                        });

                        $("#id_services").on("change", function () {
                            localStorage.services = $(this).is(':checked');
                            $(this).closest('form').submit();
                        });

                        $("#id_rideshare").on("change", function () {
                            localStorage.rideshare = $(this).is(':checked');
                            $(this).closest('form').submit();
                        });

                        $("#id_housing").on("change", function () {
                            localStorage.housing = $(this).is(':checked');
                            $(this).closest('form').submit();
                        });

                        $("#id_negative_balance").on("change", function () {
                            localStorage.negative_balance = $(this).is(':checked');
                            $(this).closest('form').submit()
                        });

                        $("#id_positive_balance").on("change", function () {
                            localStorage.positive_balance = $(this).is(':checked');
                            $(this).closest('form').submit()
                        });
                    </script>

                    <script>
                        $(document).ready(function() {
                            localStorage.clear()
                        })
                    </script>
    </div>
    </form>
    </section>
    </div>

    <script>
        $(".listing-facebook-share").click(function () {
            var listing_id = $(".listing-modal").attr("data-listing-id");
            var url = 'https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fvillages.cc%2Flisting_details%2F'+listing_id;
            $(".listing-facebook-share").attr("href", url)
        });


        $(".listing-twitter-share").click(function () {
            var listing_id = $(".listing-modal").attr("data-listing-id");
            var url = 'https://twitter.com/share?url=https%3A%2F%2Fvillages.cc%2Flisting_details%2F'+listing_id+'&via=Villagescc&related=villagesmarketplace%2Ctwitter&hashtags=villagescc%2Clisting&text=Listing%20share%20';
            $(".listing-twitter-share").attr("href", url)
        })
    </script>

    <script>
        $(".listing-modal").click(function (e) {
            $('#spin-modal').fadeIn();
            var listing_id = $(this).attr('data-listing-id');
            var url = '/get_listing_info/'+listing_id;
            var listing_picture_path = '/uploads/';
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                success: function (data) {
                    if(data["data"]["stat"] == "ok"){
                        $('#listing-id').val(listing_id);
                        $('.listing-modal-title').text(data["data"]["listing_title"]);
                        $('.listing-img').attr("src", listing_picture_path+data["data"]["listing_photo"]);
                        $('#label-price').text(data["data"]["listing_price"]);
                        $('#label-profile-name').text(data["data"]["profile_name"]);
                        $('#profile-location').text(data["data"]["profile_location"]);
                        $('#listing-created-at').text(data["data"]["created_at"]);
                        $('#listing-created-at').attr("href", "/listing_details/"+listing_id);
                        $('#label-description').text(data["data"]["description"]);
                        $('#listing-profile-username').text(data["data"]["username"]);
                        $("#listing-profile-username").attr("href", "/profiles/"+data["data"]["username"]);
                        $('#label-profile-balance').text(data["data"]["balance"]);
                        $('#label-profile-occupation').text(data["data"]["job"]);
                        $('#trust-btn').attr('data-profile-username', data["data"]["username"]);
                        $('#payment-btn').attr('data-profile-username', data["data"]["username"]);
                        $('#contact-btn').attr('data-profile-username', data["data"]["username"]);
                        $('#spin-modal').fadeOut();
                        $("#listing-modal").modal("show");
                    }
                },
                error: function (data) {
                    $('#spin-modal').fadeOut();
                    showInternalServerError();
                }
            });
        });


        $(".trust-modal").click(function (e) {
            $('#spin-modal').fadeIn();
            var profile_username = $(this).attr('data-profile-username');
            $("#profile-username").val(profile_username);
            var url = '/trust_ajax/'+profile_username;
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                success: function (data) {
                    if(data["data"]["stat"] == "error"){
                        $('#error-modal-alert').text(data["data"]["error_message"]);
                        $('#spin-modal').fadeOut();
                        $('#error-modal').modal("show");
                    }
                    else if(data["data"]["stat"] == "ok"){
                        $('#spin-modal').fadeOut();
                        $('.trust-modal-title').text('Trust ' +profile_username);
                        $("#new-trust-modal").modal("show");
                    }
                    else if(data["data"]["stat"] == "existing"){
                        $('#id_weight').val(data['data']['weight']);
                        $('#id_text').val(data['data']['text']);
                        if(data["data"]["refer"]) {
                            $("#id_referral").prop('checked', true)
                        }
                        $('#spin-modal').fadeOut();
                        $('.trust-modal-title').text('Trust ' +profile_username);
                        $("#new-trust-modal").modal("show");
                    }
                },
                error: function (data) {
                    $('#spin-modal').fadeOut();
                    showInternalServerError();
                }
            });
        });

        $(".payment-modal").click(function (e) {
            $('#payment-loading-modal').modal("show");
            $('#spin-modal').fadeIn();
            var profile_username = $(this).attr('data-profile-username');
            $("#profile-username").val(profile_username);
            var url = '/acknowledge_ajax/'+profile_username;
            console.log(url);
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                success: function (data) {
                    if(data["data"]["stat"] != "ok"){
                        $('#error-modal-alert').text(data["data"]["stat"]);
                        $('#spin-modal').fadeOut();
                        $('#error-modal-alert').modal("show");
                    }
                    else if(!data['data']['can_ripple']){
                        $('label[for="id_ripple_0"]').closest('li').hide();
                        $('#id_ripple_1').attr('checked', true);
                        $('.ripple-hours').html("There are no available paths through the trust network to <strong>"+data['data']['recipient']+"</strong>, so you can only send direct acknowledgement.");
                        $('#spin-modal').fadeOut();
                        $('#payment-loading-modal').modal("hide");
                        $("#new-payment-modal").modal("show");
                    }else if(data["data"]["can_ripple"]){
                        $('#id_ripple_0').attr('checked', true);
                        $('.ripple-hours').html("You can send a trusted acknowledgement of up to " + data['data']['max_amount'] + " hour(s) or a direct acknowledgement of any amount.")
                        $('#spin-modal').fadeOut();
                        $('#payment-loading-modal').modal("hide");
                        $("#new-payment-modal").modal("show");
                    }
                },

                error: function (data) {
                    $('#spin-modal').fadeOut();
                    showInternalServerError();
                }
            });
            e.preventDefault();
        });

        $(".contact-modal").click(function (e) {
            $('#spin-modal').fadeIn();
            var profile_username = $(this).attr('data-profile-username');
            $("#profile-username").val(profile_username);
            $('#contact-modal-title').text('Contact '+profile_username);
            $('#spin-modal').fadeOut();
            $("#new-contact-modal").modal("show");
        });
    </script>

    <script>
        $('.menu-group div').click(function () {
            var menu = $(this).parent().find('ul');
            menu.slideToggle();
        });
    </script>



{% endblock %}