<style>
    .listing-img {
        width: 550px;
        height: 550px;
        display: block;
    }

    .modal-body {
        max-height: 100vh;
        overflow-y: scroll;
    }
</style>

<meta property="fb:app_id" content="1199641510163736" />
<meta property="og:url" content="https://villages.cc" />
<meta property="og:type" content="article" />
<meta property="og:title" content="VILLAGES.CC - Barter Exchange Network" />
<meta property="og:description" content="Exchange Trading System and Marketplace. Trade in 'Village Hours'. Credit Backed by Your Network's Services. Everyone has value to exchange!"/>

<div id="listing-modal" class="modal fade modal-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <input type="text" id="listing-id" hidden>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title listing-modal-title" id="listing-modal-title"></h4>
            </div>
            <div id="modaltext" class="modal-body">
                <div class="form-group">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <a href="#" class="thumbnail">
                                    <img class="img-rounded listing-img" src="" alt="...">
                                </a>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div>
                        <label for="label-price">Price:</label>
                        <span id="label-price" class="label label-info"></span>
                    </div>
                    <div>
                        <label for="label-profile-name">Seller name:</label>
                        <span id="label-profile-name" class="label label-info"></span>
                    </div>
                    <div>
                        <label for="listing-profile-username">Seller username:</label>
                        <span class="label label-info"><a href="#" id="listing-profile-username"></a></span>
                    </div>
                    <div>
                        <label for="label-profile-occupation">Occupation:</label>
                        <span id="label-profile-occupation" class="label label-info"></span>
                    </div>
                    <div>
                        <label for="label-profile-balance">Balance:</label>
                        <span id="label-profile-balance" class="label label-info"></span>
                    </div>
                    <div>
                        <label for="label-description">Description:</label>
                        <span id="label-description">
                        </span>
                    </div>
                    <div>
                        <label for="profile-location">Location:</label>
                        <span class="label label-info"><a href="{% url 'locator' %}" id="profile-location"></a></span>
                    </div>
                    <div>
                        <label for="listing-created-at">Post creation date:</label>
                        <span class="label label-info"><a href="#" id="listing-created-at"></a></span>
                    </div>
                </div>
                <div id="msg"></div>
                <div class="modal-footer">
                    <div class="btn-group btn-group-md btn-top-adjust" role="group" aria-label="..." style="float: left;">
                        <button id="trust-btn" type="button" class="btn btn-default btn-danger trust-modal" title="Trust this person">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </button>
                        <button id="payment-btn" type="button" class="btn btn-default btn-success payment-modal" title="Check your payments" data-profile-username="">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </button>
                        <button id="contact-btn" type="button" class="btn btn-default btn-primary contact-modal" title="Contact the owner" data-profile-username="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </button>

                        <div class="listing-facebook-share btn btn-primary pull-right" id="facebook-share"
                             title="Share on facebook" data-toggle="tooltip" data-listing-id="{{ each.id }}">
                            <i class="fa fa-facebook-square"></i>
                        </div>

                        <a class="btn btn-primary pull-right listing-twitter-share" id="twitter-share" href=""
                           target="_blank" style="background-color: #1da1f2; border-color: #1da1f2" title="Share on twitter" data-toggle="tooltip" data-listing-id="{{ each.id }}">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Dismiss</button>
                </div>
            </div>
        </div>
    </div>
</div>