{% if messages %}
    {% for message in messages %}
        {% if message.level_tag == 'error' %}
            <div class="messages alert col-lg-12 alert-danger">
            <span class="search-regex"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        <strong>{{ message }}</strong></span>
        {% elif message.level_tag == 'warning' %}
            <div class="messages alert col-lg-12 alert-warning">
            <span class="search-regex"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        <strong>{{ message }}</strong></span>
        {% else %}
            <div class="messages alert col-lg-12 alert-success">
            <span class="search-regex"><i class="fa fa-check" aria-hidden="true"></i>
                        <strong>{{ message }}</strong></span>
        {% endif %}
    <a class="close" data-dismiss="alert" aria-label="close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </a>
    </div>
    {% endfor %}
<script>
    $(document).ready(function (){
        setTimeout(function (){
            $('.messages').fadeOut("medium");
        }, 4000);
    });
</script>
{% endif %}